<div id="maincontent">
  <h1>Editing Lessee</h1>
  <div class="col-md-12">
    <%= render 'form', lessee: @lessee %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to 'Show', @lessee %>
    <span> | </span>
    <%= link_to 'Back', lessees_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
