<div id="maincontent">
    <h1>New Lessee</h1>
    <div class="col-md-12">
      <%= render 'form', lessee: @lessee %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', lessees_path %></div>
    <div class="col-md-12"><br/></div>
</div>
