<div id="maincontent">
  <h1>Editing License</h1>
  <div class="col-md-12">
    <%= render 'form', license: @license %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to 'Back', greensub_licenses_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
