<h1>Institution Help</h1>

<p>
  <strong>Key:</strong>
  <%= @institution.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @institution.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @institution.site %>
</p>

<p>
  <strong>Login:</strong>
  <%= @institution.login %>
</p>
