///////////////////////////////////////////
// HELIOTROPE EMBEDDED CONTENT STYLESHEET
///////////////////////////////////////////

html, body, figure, #image {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  // the Leaflet embed needs this on html, body and figure, but it's messing with the automatic...
  // iframe height for audio embeds, so I've inlined it on the erb templates if @presenter.image?
  // height: 100%;
}

html {
  overflow:hidden;
}

.able-wrapper {
  .able {
    margin: 0px;
    box-shadow: 0 0 0 0 transparent;
    .able-player.able-video {
      // shunt the controls onto the video and hide them
      -webkit-transform: translateY(-98px);
      transform: translateY(-98px);
      -webkit-opacity: 0;
      -moz-opacity: 0;
      opacity: 0;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
      // NB: z-index will be ignored with default (static) position, hence this:
      position: relative;
      // able-big-play-button has a z-index of 6500, we need the video controls (to capture clicks) over it
      z-index: 6501;
    }
  }
  // :active here is a first attempt to defeat sticky touch hover behavior
  .able:hover > div:nth-child(3), .able:active > div:nth-child(3) {
    // show the controls on hover
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }

  video {
    width: 100% !important;
    height: auto !important;
  }

  audio {
    width: 100% !important;
  }
}

.fulcrum-embed-link {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  width: 6%;
  min-width: 60px;
  height: auto;
  // able div has a z-index of 5000
  z-index: 5001;
  padding: 3px;
  margin: 0;
  font-size: 11px;
  pointer-events: auto;
  box-shadow: none;
  // hide until hover
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  .logo {
    width: 100%;
    height: 100%;
  }
}

.leaflet-embed {
  // same as leaflet map background #ddd
  background: rgba(221, 221, 221, 0.8);
}

.able-modal-dialog{
  max-height: 90%;
  border: none;
  overflow-y: auto;
  padding: 0 10px;
  .modal-button {
    margin-bottom: 10px;
  }
}

// show link to asset on Fulcrum on hover
figure:hover > div:nth-child(1), figure:active > div:nth-child(1) {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

// show link to asset on Fulcrum using k/b navigation
.fulcrum-embed-link:focus-within {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

// show player controls if any focusable child element has the focus (k/b navigation)
.able-wrapper .able .able-player.able-video:focus-within {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#audio-transcript-container {
  .able-transcript-area {
    height: 150px;
    .able-window-toolbar {
      height: 40px;
      padding: 2px;
      h3 {
        font-size: 16px;
        margin: 0;
      }
    }
  }

  .able-transcript {
    height: 105px;
  }
}
