<% repository =  RepositoryPresenter.new(current_user) %>
<h1>Repository Summary</h1>
<table class="table table-striped" summary="Repository Global Stats">
  <tr>
    <th scope="col">Object</th>
    <th scope="col">Count</th>
  </tr>
  <tr>
    <td>Publishers</td>
    <td><%= repository.publisher_ids.count() %></td>
  </tr>
  <tr>
    <td>Monographs</td>
    <td><%= repository.monograph_ids.count() %></td>
  </tr>
  <tr>
    <td>Assets</td>
    <td><%= repository.asset_ids.count() %></td>
  </tr>
  <tr>
    <td>Users</td>
    <td><%= repository.user_ids.count() %></td>
  </tr>
</table>
