<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Editing Grouping</h1></div>
    <div class="col-md-12">
      <%= render 'form', grouping: @grouping %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12">
      <%= link_to 'Show', @grouping %>
      <span> | </span>
      <%= link_to 'Back', groupings_path %>
    </div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
