<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Attached are Fulcrum reports for the week of <%= @start_date %> to <%= @end_date %>.<p>
  </body>
</html>