<div class="row">
  <% lessees.each do |lessee| %>
    <div class="col-md-1">
      <% if lessee.grouping? %>
        <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
      <% elsif lessee.institution? %>
        <span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
      <% end %>
    </div>
    <div class="col-md-11">
      <% if lessee.institution? %>
        <%= lessee.institution.name %>
      <% else %>
        <%= lessee.identifier %>
      <% end %>
    </div>
  <% end %>
</div>
