<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>New Component</h1></div>
    <div class="col-md-12">
      <%= render 'form', component: @component %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', components_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
