<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<h1><%= @title %></h1>
<h2>Header</h2>
<div><%= @counter_report.report_header %></div>
<h2>Report</h2>
<div><%= @counter_report.report_items %></div>
<hr>