<h1>COUNTER Reports Dashboard</h1>
<p>The COUNTER reports dashboard requires no login; it uses IP authentication to identify the requesting institution.<br />You may need to alter the URL to a proxied URL in order to be IP-authenticated to the reporting system.</p>

<p>For more information about COUNTER reports, <a href="https://mpub.atlassian.net/wiki/spaces/FPS/pages/117244158/UMP+EBC+Usage+Statistics+FAQ" target="_blank">please visit our FAQ</a>.</p>
