<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
              <img class="responsive-img" src="/img/fulcrum-white-footer.png" alt="Fulcrum">
              <p class="grey-text text-lighten-4 about light">{{ site.description }} For more information about the platform, please subscribe to our <a href="https://www.fulcrum.org/#get-updates">newsletter</a>, follow us on <a href="https://twitter.com/fulcrumpub">Twitter</a>, or send an e-mail to <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
        </div>
        <div class="col l3 s12 offset-l1 footer-menu">
          <ul>
            <li><a class="white-text" href="/about/">About</a></li>
            <li><a class="white-text" href="/blog/">Blog</a></li>
            <li><a class="white-text" href="/partner-with-us/">Partner With Us</a></li>
            <li><a class="white-text" href="/feedback/">Feedback</a></li>
            <li><a class="white-text" href="mailto:{{ site.email }}">Contact</a></li>
            <li><a class="white-text" href="https://github.com/{{ site.github_username }}">Contribute</a></li>
            <li><a id="sign-in" class="white-text" rel="nofollow"></a></li>
          </ul>
        </div>
        <div class="col l1 s12 offset-l1 footer-menu">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright right-align">
      <div class="container">
      <a href="/accessibility/">Accessibility</a>&nbsp;&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;&nbsp;<a href="/preservation/">Preservation</a>&nbsp;&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms/">Terms of Service</a> &nbsp;&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;&nbsp; &copy; 2020 Regents of the University of Michigan
      </div>
    </div>
  </footer>
  {% comment %}

    Insecure "fulcrum_signed_in_static" cookie is ONLY
    for this login/logout cosmetic feature see #863

  {% endcomment %}
  <script>
    var signed_in = false;

    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      if (c.trim() === "fulcrum_signed_in_static=true") {
        signed_in = true ;
      }
    }

    if (signed_in) {
      $('#sign-in').prop("href", "/logout")
      $('#sign-in').text("Log Out");
    }
    else {
      $('#sign-in').prop("href", "/default_login")
      $('#sign-in').text("Log In");
    }
  </script>
