<figure class="image" title="<%= @presenter.alt_text.first %>">
  <% if @presenter.image? %>
    <% riiif_url = "/image-service/#{@presenter.id}/info.json" %>
    <div id="image"></div>
    <script>
      $().ready(function() {
        var map, layer;
        map = L.map('image', {
          center: [0, 0],
          crs: L.CRS.Simple,
          zoom: 0
        });
        layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true } );
        layer.addTo(map);
      });
    </script>
  <% else %>
  <%= media_display @presenter %>
  <% end %>
  <figcaption id="embed-caption"><%= presenter.attribute_to_html(:caption, render_as: :markdown, label: '') %></figcaption>
</figure>
