<div class="tombstone">
  <div>
    Rights have expired. This resource can no longer be displayed.
  </div>
  <div>
    Questions? Please contact the rights holder or <a href="mailto:fulcrum-info@umich.edu">fulcrum-info@umich.edu</a>
  </div>
</div>
