<div class="form-actions">
  <% if can?(:edit, presenter) %>
    <a class="btn btn-default btn-lg" href="<%= edit_polymorphic_path([main_app, presenter]) %>">Edit</a>
  <% end %>
  <% if presenter.embeddable_type? && (can?(:edit, presenter) || presenter.allow_embed?) %>
    <form action="#" onsubmit="CopyToClipboard()" style="display:inline;">
      <textarea  id="embedcode" style="display:none;" readonly="readonly"><%= presenter.embed_code %></textarea>
      <button type="submit" class="btn btn-default btn-lg">&lt;html /&gt;</button>
      <script>
        function CopyToClipboard() {
          var e = document.getElementById("embedcode");
          e.style.display = "block";
          e.focus();
          e.select();
          document.execCommand("copy");
          e.style.display = "none";
          window.alert("Copied to clipboard.")
        }
      </script>
    </form>
  <% end %>
</div><!-- form-actions -->
