<% components =  Component.all %>
<h1>Components</h1>
<table class="table table-striped" summary="Components List">
  <tr>
    <th>Component <%= link_to(new_component_path) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      <% end %>
    </th>
    <th>Products</th>
    <th>Lessees</th>
  </tr>
  <% components.each do |component| %>
    <tr>
      <td><%= link_to component.handle, component_path(component) %></td>
      <td><%= component.products.count() %></td>
      <td><%= component.lessees.count() %></td>
    </tr>
  <% end %>
</table>
