<% individual = Individual.find_by(identifier: @identifier) %>
<h1>Individual</h1>
<div class="col-md-12">
  <table class="table table-striped" summary="Individual Detail">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>identifier</td>
      <td><%= individual.identifier %></td>
    </tr>
    <tr>
      <td>name</td>
      <td><%= individual.name %></td>
    </tr>
    <tr>
      <td>email</td>
      <td><%= individual.email %></td>
    </tr>
  </table>
</div>
<h2>Grants</h2>
<div class="col-md-12">
  <%= render partial: '/grants/grants', locals: { agent: individual, grants: individual.grants } %>
</div>
