<% institutions =  Institution.all %>
<h1>Institutions</h1>
<table class="table table-striped" summary="Institution List">
  <tr>
    <th>Institution <%= link_to(new_institution_path) do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
      <% end %>
    </th>
    <th>Products</th>
    <th>Components</th>
  </tr>
  <% institutions.each do |institution| %>
    <tr>
      <td><%= link_to institution.name, institution_path(institution) %></td>
      <% if institution.lessee? %>
        <td><%= institution.lessee.products.count() %></td>
        <td><%= institution.lessee.components.count() %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
</table>
