<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<h1>Reports</h1>
<ul>
  <li><%= link_to "APTrust Deposits", aptrust_deposits_path %></li>
  <li><%= link_to "COUNTER Reports", customers_path %></li>
  <li><%= link_to "Handle Deposits", handle_deposits_path %></li>
  <li><%= link_to "Tombstones", tombstones_path %></li>
</ul>
