<%# default partial to display solr document fields in catalog index view -%>
  <div class="document-metadata">

    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
  	    <p class="blacklight-<%= field_name.parameterize %>"><%= render_markdown render_index_field_value document, field: field_name %></p>
      <% end -%>
    <% end -%>

  </div>
</div>
