<% @monograph_presenter.epub_presenter.chapters.each do |chapter| %>
  <div class="row chapter">
    <div class="col-sm-12">
      <h3><a href="#"><%= chapter.title %></a></h3>
      <%= chapter.paragraphs[0].html unless chapter.paragraphs.empty? %>
      <hr>
    </div>
  </div>
<% end %>
