<% # header bar for doc items in index view -%>
<div class="col-sm-9">
  <div class="documentHeader">
    <h4 class="index_title">
      <% counter = document_counter_with_offset(document_counter) %>
      <%= render_markdown link_to_document document, document_show_link_field(document), counter: counter %>
    </h4>
    <% if !document.section_title.blank? %>
      <p>From <%= render_markdown document.section_title.to_sentence %></p>
    <% end %>
  </div>
