<% epub_url = Rails.application.routes.url_helpers.epub_url(@monograph_presenter.epub_id) %>
<% epub_dir = @monograph_presenter.epub_presenter.content_dir %>

<% @monograph_presenter.epub_presenter.chapters.each do |chapter| %>
  <div class="row chapter">
    <div class="col-sm-12">
      <h3>
        <% if chapter.downloadable? %>
        <a href="<%= epub_download_chapter_path(id: @monograph_presenter.epub_id, cfi: chapter.cfi) %>" data-turbolinks="false">
          <i id="download" class="oi" data-glyph="data-transfer-download" title="Download chapter" aria-hidden="true"></i>
        </a>
        <% end %>
        <a href="<%= epub_url %>#<%= chapter.cfi %>4/1:0"><%= chapter.title %></a>
      </h3>
      <hr>
    </div>
  </div>
<% end %>
