<% @monograph_presenter.epub_presenter.sections.each do |section| %>
  <div class="row chapter">
    <div class="col-sm-12">
      <h3><a href="<%= epub_path(id: @monograph_presenter.epub_id, anchor: section.cfi) %>"><%= section.title %></a></h3>
      <% if @monograph_presenter.epub_presenter.multi_rendition? %>
        <div class="btn-group download" role="group" aria-label="Read or Download Chapter">
          <% if section.downloadable? %>
          <a class="btn btn-default btn-sm" href="<%= epub_download_section_path(id: @monograph_presenter.epub_id, cfi: section.cfi, title: section.title) %>" data-turbolinks="false">
            <i id="download" class="oi" data-glyph="data-transfer-download" title="Download chapter" aria-hidden="true"></i> Download</a>
          <% end %>
          <a class="btn btn-default btn-sm" href="<%= epub_path(id: @monograph_presenter.epub_id, anchor: section.cfi + "/4/1:0") %>"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Read</a>
        </div>
      <% end %>
      <hr>
    </div>
  </div>
<% end %>
