<%
  level = 0
  ebook_presenter = @presenter.epub? ? @presenter.epub_presenter : @presenter.pdf_ebook_presenter
  permit_download_buttons = EbookIntervalDownloadOperation.new(current_actor, Sighrax.from_solr_document(@presenter.reader_ebook)).allowed?
  princess_de_cleves = @presenter.subdomain == 'leverpress' && (@presenter.isbn.any? { |isbn| isbn.delete("^0-9") == '9781643150383' })
  show_limit = 13  # only show the first 14 intervals/chapters by default, HELIO-4245
%>
<%# A wrapper div whose closing tag below will control where the browser _might_ automagically close any li/ul... %>
<%# tags we've left unmatched. Which is something that may be happening on complex/nested or broken ToC's See below. %>
<div id="toc-container-keep">
  <% ebook_presenter.intervals.each_with_index do |interval, index| %>
    <% if interval.level > level %>
      <% level += 1 %>
      <ul class="toc section">
        <% if index > show_limit %>
        <li class="can-be-hidden" style="display: none;" aria-hidden="true">
        <% else %>
        <li>
        <% end %>
    <% elsif interval.level == level %>
       </li>
        <% if index > show_limit %>
        <li class="can-be-hidden" style="display: none;" aria-hidden="true">
        <% else %>
       <li>
       <% end %>
    <% else %>
      </li>
      <% while interval.level < level %>
        <% level -= 1 %>
        </ul>
        </li>
      <% end %>
      <% if index > show_limit %>
      <li class="can-be-hidden" style="display: none;" aria-hidden="true">
      <% else %>
      <li>
      <% end %>
    <% end %>
    <div class="section-container">
      <% if @presenter.tombstone? %>
        <span><%= interval.title %></span>
      <% else %>
        <a class="toc-link" href="<%= (princess_de_cleves ? epub_ebook_path(@presenter.reader_ebook) : epub_path(id: ebook_presenter.id)) + '#' + interval.cfi  %>" data-turbolinks="false"><%= interval.title %></a>
        <% if interval.downloadable? && permit_download_buttons %>
          <div class="btn-group download" role="group" aria-label="Download Section">
            <a class="btn btn-default btn-sm toc-download-link" href="<%= epub_download_interval_path(id: ebook_presenter.id, title: interval.title, chapter_index: index) %>" data-turbolinks="false">
            <i id="download" class="oi" data-glyph="data-transfer-download" title="Download section" aria-hidden="true"></i> Download</a>
          </div>
        <% end %>
      <% end %>
    </div>
    <%# The final interval might not have a level == 1, it could be arbitrarily nested in which case we need... %>
    <%# to close any extra nested lists too, to finalize everything. %>
    <% if index == ebook_presenter.intervals.size - 1 %>
      <% while level > 0 %>
        <% level -= 1 %>
        </ul>
        </li>
      <% end %>
    <% end %>
  <% end %>
<%# When the browser reaches this closing "wrapper" div tag it will 'repair' the DOM by automagically closing any... %>
<%# unmatched ul/li tags left unclosed on complex/nested or broken ToC's. %>
</div>
<% if ebook_presenter.intervals.count > show_limit %>
  <div class="text-center">
    <button class="btn btn-default" id="show-more">Display full Table of Contents</button>
  </div>
  <script type="text/javascript">
  var moreButton = document.getElementById('show-more');
  var hidden = true;

  moreButton.addEventListener('click', function () {
    if (hidden === true) {
      $(".can-be-hidden").removeAttr('style');
      $(".can-be-hidden").removeAttr('aria-hidden');
      moreButton.innerHTML = "Display partial Table of Contents";
      hidden = false;
    } else {
      $(".can-be-hidden").attr('style', 'display: none');
      $(".can-be-hidden").attr('aria-hidden', 'true');
      moreButton.innerHTML = "Display full Table of Contents";
      hidden = true;
    }
  });
  </script>
<% end %>
