<% file_set_presenter = Hyrax::FileSetPresenter.new(document, nil) %>

<%# default partial to display solr document fields in catalog index view -%>
  <div class="document-metadata">
    <% if file_set_presenter.article_resource? %>
      <p class="blacklight-vol_issue_date"><%= file_set_presenter.article_volume_issue_date %></p>
      <p class="blacklight-article_title_tesim"><%= file_set_presenter.article_title %></p>
    <% else %>
      <% document_presenter(document).field_presenters.each do |field_presenter| %>
        <% if field_presenter.render_field? %>
          <p class="blacklight-<%= field_presenter.label.parameterize %>"><%= render_markdown field_presenter.values.first %></p>
        <% end -%>
      <% end -%>
    <% end %>

  </div>
</div>
