<% fs_presenter = Hyrax::FileSetPresenter.new(document, nil, nil) %>
<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {alt: fs_presenter.alt_text}, :counter => document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail col-sm-3">
  <% if fs_presenter.use_glyphicon? %>
    <% icon_string = '<span class="' + fs_presenter.glyphicon_type + ' file-set-glyphicon" aria-hidden="true"></span>' %>
    <%= tn.gsub(/<img.*>/, icon_string + '<br/>').html_safe %>
    <% if fs_presenter.external_resource? %>
      <a class="external-resource-link" href="<%= document.external_resouce_url %>" target="_blank"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> View External Object</a>
    <% end %>
  <% else %>
    <%= tn %>
  <% end %>
</div>
<%- end %>
