// text tools
        var tools_panel = function() {
          var $textToolsLocation = $(".cozy-module-bottom");

          var $textTools = $('.cozy-text-tools');

          var $textPanelContent = 
            '<div class="cozy-text-tools">' +
                '<div class="versions">' +
                    '<fieldset class="text-tools">' +
                        '<div>Version display</div>' +
                        '<div class="check checkbox--svg"><input class="sr-only" type="checkbox" id="french" name="french" checked>' +
                            '<label class="svg" for="french">' +
                                '<svg viewBox="0 0 100 100"><path class="path" fill="none" stroke="#000" stroke-width="13" d="M12.1 52.1l24.4 24.4 53-53"/></svg>' +
                                'Français</label></div>' +
                        '<div class="check checkbox--svg"><input class="sr-only" type="checkbox" id="english" name="english" checked>' +
                            '<label class="svg" for="english">' +
                                '<svg viewBox="0 0 100 100"><path class="path" fill="none" stroke="#000" stroke-width="13" d="M12.1 52.1l24.4 24.4 53-53"/></svg>' +
                                'English</label></div>' +
                    '</fieldset>' +
                '</div>' +
                '<div class="tools">' +
                    '<fieldset class="text-tools">' +
                        '<div>Text Tools</div>' +
                        '<div class="check checkbox--svg"><input class="sr-only" type="checkbox" id="keywords" name="keywords">' +
                            '<label class="svg" for="keywords">' +
                                '<svg viewBox="0 0 100 100"><path class="path" fill="none" stroke="#000" stroke-width="13" d="M12.1 52.1l24.4 24.4 53-53"/></svg>' +
                                'Show keywords</label></div>' +
                        '<div class="check checkbox--svg"><input class="sr-only" type="checkbox" id="terms" name="terms">' +
                            '<label class="svg" for="terms">' +
                                '<svg viewBox="0 0 100 100"><path class="path" fill="none" stroke="#000" stroke-width="13" d="M12.1 52.1l24.4 24.4 53-53"/></svg>' +
                                'Show frequently used terms</label></div>' +
                    '</fieldset>' +
                '</div>' +
            '</div>';

          $textTools = $($textPanelContent).prependTo($textToolsLocation);
        }