        // Left Positioned Panel - Panels are non modal and reflow text when opened.


        // Close/Previous Page [X]
        // cozy.control.widget.button({
        //  region: 'left.sidebar',
        //  data: { label: '<i class="icon-x oi" data-glyph="x" aria-hidden="true"></i>'},
        //  template: '<button class="button--sm cozy-close" data-toggle="button" data-slot="label" aria-label="Close reader"></button>',
        //  onClick: function() { window.location = "<%= "#{@back_link}" %>"; }
        // }).addTo(reader);

        // Mobile Close/Previous Page [X]
        // cozy.control.widget.button({
        //  region: 'left.sidebar',
        //  data: { label: '<i class="icon-x oi" data-glyph="x" aria-hidden="true"></i>'},
        //  template: '<button class="button--sm cozy-close mobile" data-toggle="button" data-slot="label" aria-label="Close reader"></button>',
        //  onClick: function() { window.location = "<%= "#{@back_link}" %>"; }
        // }).addTo(reader);

        // Table of contents [Outline Icon]
        controls.contents = cozy.control.contents({ 
          container: actions.contents,
          modalContainer: $panels,
          closePanel: false
        }).addTo(reader);

        // Search [Magnifying Glass Icon]
        <% unless Heliotrope::Application.config.cozy_epub_engine == 'readium' %>
          controls.search = cozy.control.search({ 
            container: actions.search,
            searchUrl: "<%= @search_url %>",
            modalContainer: $panels,
            closePanel: false
          }).addTo(reader);
        <% end %>

        // Bibliographic Information [Info Icon]
        cozy.control.bibliographicInformation({ container: document.querySelector('#action-info')}).addTo(reader);

        // Notes [Notes]
        //var notes_toggle = cozy.control.widget.toggle({ 
        //  container: document.querySelector('#action-notes'),
        //  states: [{
        //    stateName:'open-notes',
        //    onClick: function(btn,reader) {
         //     openNotesPanel();
        //      btn.state('close-notes');
        //    }
        //  },
        //  {
        //    stateName: 'close-notes',
        //    onClick: function(btn, reader) {
         //     closeNotesPanel();
         //     btn.state('open-notes');
         //   }
        //  }],
       // })
       // notes_toggle.addTo(reader);

        controls.notes = cozy.control.notes({ 
          container: actions.notes,
          modalContainer: $panels,
          closePanel: false
        }).addTo(reader);

        // Maps [Geo Icon]

        // Fullscreen [Diverging Arrows Icon]
        // cozy.control.fullscreen({ region: 'left.sidebar' }).addTo(reader);


