<%
  level = 0
  epub_presenter = @presenter.epub? ? @presenter.epub_presenter : @presenter.pdf_ebook_presenter
%>
  <% epub_presenter.intervals.each do |interval| %>
    <% if interval.level > level %>
      <% level += 1 %>
      <ul class="toc section">
        <li>
    <% elsif interval.level == level %>
       </li>
       <li>
    <% else %>
      </li>
      <% while interval.level < level %>
        <% level -= 1 %>
        </ul>
        </li>
      <% end %>
      <li>
    <% end %>
    <div class="section-container">
      <a class="toc-link" href="<%= epub_path(id: epub_presenter.id) + '#' + interval.cfi  %>" data-turbolinks="false"><%= interval.title %></a>
    </div>
  <% end %>
  </li>
</ul>
