@import 'brand';
@import 'syntax-highlighting';

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

// navigation menu
.skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus {
  position: static;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  float: left;
  padding: .5em;
  background: $accent-color;
  color: $white;
  border-bottom: 0;
}

//// resize navigation menu
 @media only screen and (min-width: 601px) {
   nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
     height: 3.45rem;
     line-height: 64px;
   }
}

.button-collapse:hover {

}

// fix buttons
.button--lg {
  line-height: normal;
}

.btn-large:hover, .btn:hover {
  color: #ffffff;
  background-position: 0;
}

// homepage
p.header {
  line-height: 1.5em;
  color: #002C63;
  @include crete;
}

span.value {
  display: block;
  font-size: 1.65rem;
  line-height: 1.2em;
  margin: 1.78rem 0 .75em 0;
  color: #002C63;
  @include crete;
}


// video
.promo {
  margin-top: 2em;
}

.video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.video.widescreen {
  padding-bottom: 56.34%;
}

.video embed, .video iframe, .video object, .video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}


// custom sizing and positioning for icons
//// 3-things icons
.icon {
  font-size: 2.4rem;
  display: block;
  line-height: 1.2em;
  margin: 1.78rem 0 .75em 0;
}
//// sign-up submit
.sign-up {
  margin-top: -.1rem;
}

// layout
p {
  line-height: 1.7rem;
}

// blurbs
p.blurb {
  font-size: 1.65rem;
  line-height: 1.2em;
  margin-bottom: 0.75em;
  color: #FFF;
  @include crete
}

// partners
.partners {
  img {
    width: 100%;
    filter: grayscale(100%);
  }

  img:hover {
    filter: grayscale(0%);
  }

  img.square {
    max-width: 150px;
  }

  img.vertical {
    max-height: 245px;
    width: auto;
  }

  a {
    display: block;
    text-align: center;
  }

  a:hover, a:active {
    border-bottom: 3px solid transparent;
  }
}

hr.brand {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  bottom: 5px;
  background: #002C63;
  background-image: linear-gradient(-113deg, #002C63 0%, #00AFEC 100%);
}

// case studies
.case-study {
  padding-bottom: 4rem;

  .row {
    margin-bottom: 5em;
  }

  .row:last-child {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
  }

  .author,
  .pubdate {
    display: block;
    color: #002C63;
    line-height: 1.6em;
    @include crete;
  }

  .author {
    font-size: .95rem;
  }

  .pubdate {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .project-cover {
    a:hover,
    a:active {
      color: transparent;
    }
  }

  .project-info h3 {
    font-style: italic;
  }

}

// services and scholar
.services {
  padding-top: 5rem;
}

// sponsor
.sponsor p {
  line-height: 2rem;
}

.sponsor a {
  color: #002C63;
}

// Terms
ol.terms {
  ul li {
    list-style-type: lower-latin;
  }
}

// footer
footer.page-footer {
  background-color: $brand-color;
  padding-top: 2rem;
  .footer-copyright .container {
    color: $light-2;
    a {
      font-weight: 300;
      color: $accent-color;
    }
    a:hover, a:focus, a:active {
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}

.footer-menu {
  margin-top: 2.4rem;
}

// blog
.post-feature-image {
  margin-bottom: 40px;
}

.post-date {
  margin-top: 1rem;
}

.post-author {
  margin-top: .5rem;
  @include effra-light;
  font-size: 0.9rem;
}

.post-content ul {
  padding-left: 2.5rem;
}

.post-content ul li {
  list-style-type: disc;

}

.button-collapse {
  color: #26a69a;
}

.about {
  a {
    color: $accent-color;
  }
  a:hover, a:focus, a:active {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.footer-copyright {

}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section, .parallax-container .section.sponsor {
    top: -5%;
  }
  #index-banner .section, .parallax-container .section.phases {
    top: 0%;
  }

}

@media only screen and (max-width : 600px) {

.nav-container, .nav-container .container, .nav-container .column {
    height: 3.07rem;
  }

  .nav-logo svg {
    margin-top: .2rem;
  }

  #index-banner .section, .parallax-container .section.sponsor {
    top: 0;
  }

 .sponsor p {
    font-size: $delta;
    margin-top: 0;
  }

  #index-banner h1.zeta {
    margin-top: 0;
    margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {

  .nav-container, .nav-container .container, .nav-container .column {
      height: 3.36rem;
    }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
