@import 'brand';
@import 'syntax-highlighting';

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

// navigation menu
.skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus {
  position: static;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  float: left;
  padding: .5em;
  background: $accent-color;
  color: $white;
  border-bottom: 0;
}

//// resize navigation menu
 @media only screen and (min-width: 601px) {
   nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
     height: 3.45rem;
     line-height: 64px;
   }
}

.button-collapse:hover {

}

// fix buttons
.button--lg {
  line-height: normal;
}

.btn-large:hover, .btn:hover {
  color: #ffffff;
  background-position: 0;
}

// homepage
p.header {
  line-height: 1.2em;
  color: #002C63;
  @include crete;
  font-size: 2.3rem;
}

span.value {
  display: block;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin: 1.78rem 0 .75em 0;
  color: #002C63;
  @include crete;
}

.icon-block {
  p.light {
    font-size: .9rem;
  }
}


// video
.promo {
  margin-top: 2em;
}

.video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.video.widescreen {
  padding-bottom: 56.34%;
}

.video embed, .video iframe, .video object, .video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}


// custom sizing and positioning for icons
//// 3-things icons
.icon {
  font-size: 2.4rem;
  display: block;
  line-height: 1.2em;
  margin: 1.78rem 0 .75em 0;
}
//// sign-up submit
.sign-up {
  margin-top: -.1rem;
}

// layout
p {
  line-height: 1.7rem;
}

// blurbs
p.blurb {
  font-size: 1.65rem;
  line-height: 1.2em;
  margin-bottom: 0.75em;
  color: #FFF;
  @include crete
}

// partners
.partners {
  img {
    width: 100%;
    filter: grayscale(100%);
  }

  img:hover {
    filter: grayscale(0%);
  }

  img.square {
    max-width: 150px;
  }

  img.vertical {
    max-height: 245px;
    width: auto;
  }

  a {
    display: block;
    text-align: center;
  }

  a:hover, a:active {
    border-bottom: 0px solid transparent;
  }

  a.btn-large {
    height: auto;
  }
}

hr.brand {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  bottom: 5px;
  background: #002C63;
  background-image: linear-gradient(-113deg, #002C63 0%, #00AFEC 100%);
}

// case studies
.case-study {
  padding-bottom: 4rem;

  .row {
    margin-bottom: 5em;
  }

  .row:last-child {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 0;
  }

  .author,
  .pubdate {
    display: block;
    color: #002C63;
    line-height: 1.6em;
    @include crete;
  }

  .author {
    font-size: .95rem;
  }

  .pubdate {
    font-size: .8em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .project-cover {
    a:hover,
    a:active {
      color: transparent;
    }
  }

  .project-info h3 {
    font-style: italic;
  }

}

// services and scholar
.services {
  padding-top: 5rem;
}

// sponsor
.sponsor p {
  line-height: 2rem;
}

.sponsor a {
  color: #002C63;
}

// Terms
ol.terms {
  ul li {
    list-style-type: lower-latin;
  }
}

// footer
footer.page-footer {
  background-color: $brand-color;
  padding-top: 2rem;
  .footer-copyright .container {
    color: $light-2;
    a {
      font-weight: 300;
      color: $accent-color;
    }
    a:hover, a:focus, a:active {
      color: $accent-color;
      border-color: $accent-color;
    }
  }
}

.footer-menu {
  margin-top: 2.4rem;
}

// About
.team {
  ul li {
    list-style: none !important;
    text-align: center;
    margin-bottom: 2em !important;
    font-size: .9em;

    span.image {
      display: block;
      padding-bottom: .5em;
    
      img {
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        max-width: 150px;
        height: auto;
      }

      i {
        max-width: 150px;
        font-size: 150px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        color:  #FFF;
        background:  #BEC4CC;
      }

    }

    span.title, span.email {
      display: block;
      font-weight: 300;
      font-size: .8em;
    }
  }
}

// Partner With Us
.tagline {
  margin-top: 2em;

  h1 {
    margin-bottom: .1em;
  }
  p {
    margin-top: 0;
    margin-bottom: 2.3em;
    font-size: 1.25em;
  }

  a.btn-large {
    height: auto;
  }
}
.partnership {
  width: 90%;
  margin: 4em auto;
}
.partnership-table {
  margin-top: 60px;
  width: 100%;
  margin: 30px 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid $brand-color;

  caption {
    position: static;
  }
  
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  
  thead th {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  th, td {
    padding: 10px 15px;
    border: 1px solid $light-2;
  }
  
  tr:hover, td:hover {
    background-color: $light-1;
  }
  
  th {
    background-color: $light-1;
    font-weight: 400;
  }
  
  .heading--1 {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin-bottom: 0.625em;
    font-size: 1.1em;
    line-height: 1.222;
    font-weight: 700;
    color: $brand-color;
    @include crete;
  }

  thead p:not(.heading--1) {
    font-size: .75em;
    line-height: 1rem;
  }
  
  .heading--2 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    color: $brand-color;
    font-size: 0.875em;
    line-height: 1.222;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  p:not(.heading--1) {
    font-size: 0.8em;
  }
  
  p {
    margin: 0;
  }
  
  th[scope="row"] {
    background-color: transparent;
    font-size: .9em;
  }
  
 .pricing-table__feature-value i {
   color: $brand-color;
 }

 .example p {
   font-size: .75em;
   line-height: 1.05rem;
 }

  tbody th {
    width: 33%;
    text-align: left;
  }
  tbody td {
    width: 16.666666667%;
    text-align: center;
  }
}

.monthly-price {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.feature-name, dt {
  color: $dark-2;
}

.feature-label__description {
  font-size: 0.85em;
  color: #637381;
  margin-left: 0;
}

.model {
  border: solid 4px $brand-color;
  margin: 2em 1em;

  h3 {
    margin-top: 0;
    background-color: $brand-color;
    padding: .5em;
    color: $white;
  }

  p {
    padding: .5em 1em;
  }
}

h2#services {
  margin-top: 3em;
}

.post-content ul.services-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;
  margin: 2em 0;

  li {
    list-style-type: none;
    padding: 1em;
    border: 2px solid $brand-color;
    margin: 1em;
    display: flex;
    flex-basis: 15%;
    font-size: .8em;
    text-align: center;
    flex-direction: column;

    i.material-icons {
      font-size: 2.5em;
      padding-bottom: .2em;
      color: $brand-color;
    }
  }
}

// Accessibility
.help {
  background: #F7F7F8;
  padding: 1em;
  border-left: 4px solid #a0a0a05b;
  margin: 2em auto;
  width: 80%;

  
  h2 {
    margin-top: 0;
    margin-bottom: 0.625em;
    font-size: 1.45em;
  }

  p {
    font-size: .95em;
    line-height: 1.4rem;
  }
}

.toc ol {
  list-style: none;
}


// blog
.post-feature-image {
  margin-bottom: 40px;
}

.post-date {
  margin-top: 1rem;
}

.post-author {
  margin-top: .5rem;
  @include effra-light;
  font-size: 0.9rem;
}

.post-content ul {
  padding-left: 2.5rem;
}

.post-content ul li {
  list-style-type: disc;
  margin-bottom: .3em;
}

.button-collapse {
  color: #26a69a;
}

.about {
  a {
    color: $accent-color;
  }
  a:hover, a:focus, a:active {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.footer-copyright {

}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: -13%;
    p.header {
      margin-bottom: 0rem;
    }
  }

  .parallax-container .section.sponsor {
    top: 0%;
  }
  .parallax-container .section.phases {
    top: 10%;
  }

  .post-content ul.services-list li {
    flex-basis: 30%;
  }

}

@media only screen and (max-width : 700px ) {

  #index-banner {
    height: 400px;

    p.header {
      font-size: 2rem;
    }
  }
}

@media only screen and (max-width : 600px) {

.nav-container, .nav-container .container, .nav-container .column {
    height: 3.07rem;
  }

  .nav-logo svg {
    margin-top: .2rem;
  }

  #index-banner .section, .parallax-container .section.sponsor {
    top: 0;
  }

 .sponsor p {
    font-size: $delta;
    margin-top: 0;
  }

  #index-banner .zeta {
    margin-top: 0;
    margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {

  .nav-container, .nav-container .container, .nav-container .column {
      height: 3.36rem;
    }

}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
