<div id="maincontent">
  <h1>New Individual</h1>
  <div class="col-md-12">
    <%= render 'form', individual: @individual %>
  </div>
  <div class="col-md-12"><%= link_to 'Back', greensub_individuals_path %></div>
</div>
