<%
webgl_id = @monograph_presenter.webgl_id
webgl = FactoryService.webgl_unity(webgl_id)
@unity_progress = javascript_path 'unity_progress_heliotrope'
@unity_loader = "/webgl/#{webgl_id}/#{webgl.unity_loader}"
@unity_json = "/webgl/#{webgl_id}/#{webgl.unity_json}"
%>
<script src="<%= @unity_progress %>"></script>
<script src="<%= @unity_loader %>"></script>
<script>
  // this has to go right after @unity_loader is loaded to guarantee no random JS errors get alert-boxed
  UnityLoader.Error.handler = function(e, t){
    // NOP to stop the nuisance alert boxes for *all* (even non-Unity) JS errors
  }
</script>
<script>
  var gameInstance = undefined;
  $(document).on('turbolinks:load', function() {
    // load the webgl if the webgl tab is already active
    if ($('#webgl-tab').hasClass('active')) {
      if (typeof gameInstance === 'undefined') {
        gameInstance = UnityLoader.instantiate("gameContainer", "<%= @unity_json %>", {onProgress: UnityProgressHeliotrope});
      }
    }
    // or load the webgl if the tab is clicked
    $("a[href='#webgl']").bind('click', function() {
      if (typeof gameInstance === 'undefined') {
        gameInstance = UnityLoader.instantiate("gameContainer", "<%= @unity_json %>", {onProgress: UnityProgressHeliotrope});
      }
    });
  });
</script>
<div class="webgl-content">
  <div id="gameContainer" style="width: 1024px; height: 600px"></div>
</div>
