<div class="form-check check_boxes optional monograph_open_access">
  <input type="hidden" name="monograph[open_access]" value="" />
  <input class="form-check-input check_boxes required" 
         type="checkbox" 
         value="yes"
         name="monograph[open_access]" 
         id="monograph_open_access" 
         <%= "checked" if @form.open_access.include?('yes') %>>
  <label class="form-check-label" for="monograph_open_access">Open Access?</label>
</div>