<div class="form-check check_boxes optional monograph_tombstone">
  <input type="hidden" name="monograph[tombstone]" value="" />
  <input class="form-check-input check_boxes required"
         type="checkbox"
         value="yes"
         name="monograph[tombstone]"
         id="monograph_tombstone"
         <%= "checked" if @form.tombstone.include?('yes') %>>
  <label class="form-check-label check_boxes optional" for="monograph_tombstone">Tombstone?</label>
</div>
