<div id="maincontent">
  <h1>Editing Individual</h1>
  <div class="col-md-12">
    <%= render 'form', individual: @individual %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to 'Show', @individual %>
    <span> | </span>
    <%= link_to 'Back', individuals_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
