<div id="maincontent">
  <h1>New User</h1>
  <div class="col-md-12">
    <%= render 'form', user: @user %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12"><%= link_to 'Back', users_path %></div>
  <div class="col-md-12"><br/></div>
</div>
