<% classification = Hyrax::QuickClassificationQuery.new(current_user) %>
<% classification.each do |concern| %>
  <%= link_to(
    "Create #{concern.human_readable_type}",
    new_polymorphic_path([main_app, concern]),
    class: "dropdown-item item-option contextual-quick-classify #{dom_class(concern, 'new').gsub('_', '-')}",
    role: 'menuitem'
  ) %>
<% end %>
<% unless classification.all? %>
  <%= link_to 'More Options', curation_concerns.new_classify_concern_path, class: 'dropdown-item item-option link-to-full-list', role: 'menuitem' %></li>
<% end %>
