<% include_works_link ||= can_ever_create_works? %>

<% if include_works_link %>
  <% if include_works_link %>
    <%= render 'shared/add_works' %>
    <div class="dropdown-divider"></div>
  <% end %>
<% end %>
