<% if auth.publisher_restricted_content? %>
  <div class="brand-auth">
    <% if auth.institution? %>
      <% if auth.institution.logo.present? %>
        <%= image_tag auth.institution.logo, class: 'institution-logo', alt: "Logo for #{auth.institution.display_name}" %>
      <% else %>
        <%= auth.institution.display_name %>
      <% end %>
    <% else %>
      <span>
        Get access to more books. <strong><%= link_to "Log in with your institution.",
          if auth.resource?
            main_app.file_set_authentication_path(auth.resource_id)
          elsif auth.monograph?
            main_app.monograph_authentication_path(auth.monograph_id)
          else
            main_app.press_authentication_path(auth.publisher_subdomain)
          end %></strong>
      </span>
    <% end %>
  </div>
<% end %>
