<% if auth.publisher_restricted_content? %>
  <div class="brand-auth">
    <% if auth.institution? %>
      Provided by <%= auth.institution.display_name %>
    <% else %>
      <span>
        Get access to more books. <strong><%= link_to "Log in with your institution.",
          if auth.resource?
            main_app.file_set_authentication_path(auth.resource_id)
          elsif auth.monograph?
            main_app.monograph_authentication_path(auth.monograph_id)
          else
            main_app.press_authentication_path(auth.publisher_subdomain)
          end %></strong>
      </span>
    <% end %>
  </div>
<% end %>
