<!-- Main jumbotron for a primary heading image -->
    <div class="jumbotron">
      <div class="container">
        <% if @press.logo_path %>
          <div class="logo pull-left">
            <%= image_tag @press.logo_path, alt: @press.name %>
          </div>
        <% end %>

        <p class="lead"><%= render_markdown @press.description %></p>
      </div>
    </div>
