
  <% if footer_block_a(press_subdomain).present? %>
    <%= render_markdown footer_block_a(press_subdomain) %>
  <% else %>
    <div class="crop">
      <%= image_tag logo(press_subdomain), alt: name(press_subdomain) + ' logo', class: 'img-responsive' %><br /><br />
    </div>
    <p>
      <a class="brand" href="<%= url(press_subdomain) %>"><%= name(press_subdomain) %></a>
    </p>
  <% end %>
