<!-- Main jumbotron for a primary heading image -->
    <div class="jumbotron">
      <div class="container">
        <% if @press.logo_path && !@press.new_record? %>
          <div class="logo pull-left">
            <%= image_tag logo(@press.subdomain), alt: @press.name %>
          </div>
        <% end %>

        <p class="lead"><%= render_markdown @press.description if @press.description.present? %></p>
      </div>
    </div>
