<nav id="brand-bar" class="navbar navbar-expand-sm navbar-dark admin-navbar">
  <div class="container">
  <a id="home-link" class="navbar-brand" data-turbolinks="false" href="/?locale=en"><%= image_tag "fulcrum-full-white.svg", class: 'navbar-brand-logo', alt: 'Fulcrum', height: '40', width: 'auto' %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#brand-bar-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- search -->
    <%# if show_site_search? %>
      <%#= render 'shared/site_search' %>
    <%# end %>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="brand-bar-nav">
      <div class="navbar-right">
        <% if current_user && show_site_actions? %>
          <%= render 'shared/my_actions' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
