<div class="col-sm-4 press-block-b col">
  <!-- <ul class="list-unstyled">
    <li><a href="#">Home</a></li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Browse All Books</a></li>
    <li><a href="#">Browse All Book Materials</a></li>
    <li><a href="#">About</a></li>
  </ul> -->
</div>
