<% presenter = @monograph_presenter || @presenter %>
<% this_years_ebc = Product.where(identifier: 'ebc_' + Time.current.year.to_s).first %>
<% ebc_banner_cookie_name = 'ebc_' + Time.current.year.to_s + '_banner' %>
<div class="alert alert-info alert-dismissible ebc-banner" role="alert" style="display: none;">
  <button type="button" onclick="ebc_banner_button_no()" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&#x2715</span></button>
  <p class="message">Our latest Ebook Collection (<%= this_years_ebc.name %>) is available for purchase now. Would you like to view it?</p>
  <button type="button" onclick="ebc_banner_button_yes()" class="btn btn-primary btn-lg" data-dismiss="alert">Yes.</button>
  <button type="button" onclick="ebc_banner_button_no()" class="btn btn-default btn-lg" data-dismiss="alert" aria-label="Close">No thanks.</button>
</div>
<script type="text/javascript">
  function ebc_banner_button_yes(){
    Cookies.set('<%= ebc_banner_cookie_name %>', 'clicked', { expires: 30 });
    window.open("<%= this_years_ebc.purchase %>", "_blank");
  }
  function ebc_banner_button_no(){
    Cookies.set('<%= ebc_banner_cookie_name %>', 'ignore', { expires: 15 });
    location.href='#';
  }
</script>
