<footer id="footer" class="container">
  <div class="row">
    <div class="footer-text col-md-12">
      <p>
        Powered by <a href="https://github.com/samvera/hyrax">Hyrax</a> | Made possible by the <a href="https://samvera.org">Samvera</a> project | <% if current_user %> <%= link_to 'Log Out', main_app.destroy_user_session_path, class: 'log-out', 'data-turbolinks': 'false', role: 'menuitem' %> <% else %> <%= link_to 'Log In', main_app.default_login_path, class: 'login', 'data-turbolinks': 'false', role: 'menuitem' %>
        <% end %>
      </p>
    </div>
  </div>
</footer>
<%= render 'shared/ga' %>
