<ul class="nav navbar-nav navbar-right">
  <!--<#%= render 'shared/add_content' %>-->
  <%= render 'shared/locale_picker' if available_translations.size > 1 %>
  <!-- We're not using these yet but when we do they're in hyrax views/hyrax/notifications/_notifications.html.erb
  <li>
    <#%= render_notifications(user: current_user) %>
  </li>
  -->
  <li class="dropdown my-actions">
    <a class="dropdown-toggle user-display-name" data-toggle="dropdown" href="#">
      <%= controller.current_institutions.first %>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <% controller.current_institutions.each do |institution| %>
        <li><%= institution %></li>
      <% end %>
    </ul>
  </li>
</ul>
