<% if press_subdomain.present? %>
  <% catalog_url = main_app.press_catalog_path(press_subdomain) %>
  <% search_label = t('press_catalog.search.form.q.label', press_name: name(press_subdomain)) %>
  <% placeholder = t('press_catalog.search.form.q.placeholder', press_name: name(press_subdomain)) %>
<% else %>
  <% catalog_url = main_app.search_catalog_path %>
  <% search_label = t('hyrax.search.form.q.label', application_name: application_name) %>
  <% placeholder = t('hyrax.search.form.q.placeholder') %>
<% end %>

<%= form_tag catalog_url, method: :get, class: "search-form navbar-left navbar-form" do %>
  <fieldset>
    <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8, :partial)) %>
    <div class="input-group">
      <%= label_tag :catalog_search, search_label, class: "sr-only" %>
      <%= text_field_tag(:q, params[:q], class: "q search-query form-control", id: "catalog_search",
                         placeholder: placeholder, tabindex: "0", type: "search") %>
      <div class="input-group-btn">
        <button type="submit" class="search-submit btn btn-primary" id="keyword-search-submit" tabindex="0">
          <i class="glyphicon glyphicon-search"></i><span class="sr-only">Search</span>
        </button>
      </div>
    </div>
  </fieldset>
<% end %>
