<nav id="title-bar" class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-right">

      <% if show_site_search? %>
        <%= render 'shared/site_search' %>
      <% elsif respond_to?(:show_press_search?) && show_press_search? %>
        <%= render 'press_catalog/press_search' %>
      <% end %>

    </div>
  </div>
</nav>
