<h2><%= @sub_brand.title %></h2>
<p><%= @sub_brand.description %></p>
<p> TODO: Placeholder for a sub-brand </p>
<br />
<%= button_to 'Edit', edit_press_sub_brand_path(@sub_brand.press, @sub_brand), method: :get %>
