<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% provide :page_title, @title || "Access Restricted to #{@parent_presenter.title}" %>
<div class="alert alert-danger">
  <p class="text-center"><em><%= @parent_presenter.title %></em> is a restricted access online resource. <%= link_to 'Go back to previous page', :back %>.</p>
</div>

<%=
  case @parent_presenter.subdomain
  when 'heb'
    render partial: 'e_pubs/access/heb', locals: { presenter: @presenter, monograph_presenter: @parent_presenter, institutions: @institutions, products: @products }
  when 'michigan'
    render partial: 'e_pubs/access/michigan', locals: { presenter: @presenter, monograph_presenter: @monograph_presenter, institutions: @institutions, products: @products }
  when 'barpublishing'
    render partial: 'e_pubs/access/barpublishing', locals: { presenter: @presenter, monograph_presenter: @monograph_presenter, institutions: @institutions, products: @products }
  end
%>
