<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% provide :page_title, @title || "Access Restricted to #{@parent_presenter.title}" %>
<div class="alert alert-danger">
  <p class="text-center"><em><%= @parent_presenter.title %></em> is a restricted access online resource. <%= link_to 'Go back to previous page', :back %>.</p>
</div>

<%=
  if lookup_context.find_all("e_pubs/access/_#{@parent_presenter.subdomain}").any?
    render partial: "e_pubs/access/#{@parent_presenter.subdomain}", locals: { presenter: @presenter, monograph_presenter: @parent_presenter, institutions: @institutions, products: @products }
  end
%>
