<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Attached are Fulcrum reports for <%= @month_year %>.<p>
  </body>
</html>
