<%# https://github.com/mlibrary/heliotrope/issues/1084 %>
<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<audio id="audio"
       preload="auto"
       data-able-player
       <%= raw file_set.closed_captions.present? ? 'data-transcript-div="audio-transcript-container" data-lyrics-mode' : 'data-include-transcript="false"' %>>
  <source src="<%= hyrax.download_path(file_set, file: 'ogg') %>" type="audio/ogg" />
  <source src="<%= hyrax.download_path(file_set, file: 'mp3') %>" type="audio/mpeg" />
  <% if file_set.closed_captions.present? %>
   <track kind="captions" src="<%= hyrax.download_path(file_set, file: 'captions_vtt') %>" srclang="en" label="English" />
  <% end %>
  Your browser does not support the audio tag.
</audio>
<% if file_set.closed_captions.present? %>
  <div id="audio-transcript-container"></div>
<% end %>
