<p class="external-text lead">This is an external resource hosted on another website.<br />
  <a href="<%= file_set.external_resource_url %>" title="<%= file_set.title %>" target="_blank" ><span class="glyphicon glyphicon-share" aria-hidden="true"></span> View object</a> at originating website.
</p>
