<p class="external-text lead">This is an external resource hosted on another website.<br />
  <a href="<%= file_set.ext_url_doi_or_handle %>" title="<%= file_set.title %>" target="_blank" ><span class="glyphicon glyphicon-share" aria-hidden="true"></span> View object</a> at originating website.
</p>
