<a class="btn btn-default btn-lg" href="<%= file_set.external_resource_url %>" title="<%= file_set.title %>" target="_blank" >Open External Resource</a>
<% uri =  URI.parse(file_set.external_resource_url) %>
<p class="external-text lead">This is an external resource hosted at <b><%= uri.scheme %>://<%= uri.host %></b>. When selecting the button above you will be leaving this website.</p>
