<%# https://github.com/mlibrary/heliotrope/issues/1127 %>
<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% riiif_url = "/image-service/#{file_set.id}/info.json#{file_set.image_cache_breaker}" %>
<div id="image"></div>
<script>
    $().ready(function() {
        var map, layer;
        map = L.map('image', {
            center: [0, 0],
            crs: L.CRS.Simple,
            zoom: 0,
            scrollWheelZoom: false,
<% if file_set.allow_high_res_display? %>
            fullscreenControl: true,
            fullscreenControlOptions: { // optional
                title:"View in fullscreen mode",
                titleCancel:"Exit fullscreen mode"
            }
<% end %>
        });
        layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true } );
        layer.addTo(map);
        L.control.pan({ panOffset: 150 }).addTo(map);
        // Detect fullscreen toggling
        // Doesn't zoom in/out unless the browser has had a chance
        // to enter fullscreen, hence the timeout.
        // "TypeError: The expression cannot be converted to return the specified type."
        // that prevents fullscreen toggle predates the code below,
        // I suspect a bug in vendor/leaflet.fullscreen-1.5.1/Control.FullScreen.js
        map.on('enterFullscreen', function() {
          setTimeout(function() {
            try { layer._fitBounds(); } catch (err) {}
            }, 1000);
        });
        map.on('exitFullscreen', function() {
          setTimeout(function() {
            try { layer._fitBounds(); } catch (err) {}
            }, 1000);
        });
    });
</script>
