<%# https://github.com/mlibrary/heliotrope/issues/1127 %>
<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<% riiif_url = "/image-service/#{file_set.id}/info.json#{file_set.image_cache_breaker}" %>
<div id="image"></div>
<script>
    $().ready(function() {
        var map, layer;
        map = L.map('image', {
            center: [0, 0],
            crs: L.CRS.Simple,
            zoom: 0,
            scrollWheelZoom: false,
            fullscreenControl: true,
            fullscreenControlOptions: { // optional
                title:"Show me the fullscreen!",
                titleCancel:"Exit fullscreen mode"
            }
        });
        layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true } );
        layer.addTo(map);
        L.control.pan({ panOffset: 150 }).addTo(map);
    });
</script>
