<% provide :page_title, @title || "Title" %>
<% provide :body do %>
<div id="epub">
  <div id="reader"></div>
  <script type="text/javascript">
    var reader = cozy.reader('reader', { href: "<%= "#{main_app.epub_url}/#{params[:id]}" %>" });
    cozy.control.widget.button({
	    region: 'top.header.left',
	    data: { label: '<i class="icon-x oi" data-glyph="x" aria-hidden="true"></i>'},
	    template: `<button class="button--sm cozy-close" data-toggle="button" data-slot="label"></button>`,
	    onClick: function() { window.location = "<%= "#{@back_link}" %>"; }
    }).addTo(reader);
    cozy.control.title({ region: 'top.header.left' }).addTo(reader);
    cozy.control.contents({ region: 'top.toolbar.left' }).addTo(reader);
    cozy.control.widget.panel({
        region: 'top.toolbar.left',
        template: `<div class="permalink-label"><span class="u-screenreader">Permalink</span><form><input data-slot="title" type="text" id="permalink" value="" readonly="readonly" onclick="this.select(); document.execCommand('copy');"></form></div>`,
        states: [{
            stateName: 'doi',
            title: "<%= @citable_link %>"
        }]
    }).addTo(reader);
    cozy.control.preferences({ region: 'top.toolbar.right' }).addTo(reader);
    // cozy.control.pageFirst({ region: 'left.sidebar' }).addTo(reader);
    cozy.control.pagePrevious({ region: 'left.sidebar' }).addTo(reader);
    cozy.control.pageNext({ region: 'right.sidebar' }).addTo(reader);
    // cozy.control.pageLast({ region: 'right.sidebar' }).addTo(reader);
    cozy.control.publicationMetadata({ region: 'bottom.footer' }).addTo(reader);
    reader.start();
  </script>
</div>
<% end %>
<%= render template: 'layouts/boilerplate' %>
