<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>Editing Product NOID</h1></div>
    <div class="col-md-12">
      <%= render 'form', product_noid: @product_noid %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12">
      <%= link_to 'Show', @product_noid %>
      <span> | </span>
      <%= link_to 'Back', product_noids_path %>
    </div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
