<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>New Product NOID</h1></div>
    <div class="col-md-12">
      <%= render 'form', product_noid: @product_noid %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', product_noids_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
