<audio id="audio"
       preload="auto"
       data-able-player
       <%= raw file_set.transcript.present? ? 'data-transcript-div="audio-transcript-container" data-lyrics-mode' : 'data-include-transcript="false"' %>>
  <source src="<%= hyrax.download_path(file_set, file: 'ogg') %>" type="audio/ogg" />
  <source src="<%= hyrax.download_path(file_set, file: 'mp3') %>" type="audio/mpeg" />
  <% if file_set.transcript.present? %>
    <track kind="captions" src="<%= hyrax.download_path(file_set, file: 'vtt') %>" srclang="en" label="English" />
  <% end %>
  Your browser does not support the audio tag.
</audio>
<% if file_set.transcript.present? %>
  <div id="audio-transcript-container"></div>
<% end %>

<script>
    $(document).ready(function() {
        setupAudioAnalytics();
    });

    function setupAudioAnalytics() {
        if (typeof(ga) == typeof(Function)) {
            var audio = $('#audio').get(0)
            audio.addEventListener("play", function() {
                ga('pressTracker.send', 'event', 'e_reader', 'play_audio', window.location.href);
            });
            audio.addEventListener("pause", function() {
                ga('pressTracker.send', 'event', 'e_reader', 'stop_audio', window.location.href);
            });
        }
    }
</script>
