<% riiif_url = "/image-service/#{file_set.id}/info.json" %>
<div id="image"></div>
<script>
    var map, layer, timer;

    $(document).ready(function() {
        // give half a second for resize to take over
        throttleLeafletMapSetup(500);
    });

    $(window).resize(function() {
        throttleLeafletMapSetup(250);
    });

    function throttleLeafletMapSetup(milliseconds) {
        clearTimeout (timer);
        timer = setTimeout(setupLeafletMap, milliseconds);
    };

    function setupLeafletMap() {
        if (map != undefined) { map.off(); map.remove(); }

        // https://github.com/mlibrary/cozy-sun-bear/issues/129
        if (bowser.safari && bowser.version >= 11) {
          map = L.map('image', {
            center: [0, 0],
            crs: L.CRS.Simple,
            zoom: 0,
            zoomControl: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            boxZoom: false,
            dragging: false,
            attributionControl: false
          });
          layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true });
          layer.addTo(map);
        }
        else {
          map = L.map('image', {
            center: [0, 0],
            crs: L.CRS.Simple,
            zoom: 0,
            scrollWheelZoom: false,
            attributionControl: false
          });
          layer = L.tileLayer.iiif("<%= riiif_url %>", { bestFit: true });
          layer.addTo(map);
          L.control.pan({ panOffset: 150 }).addTo(map);
        }
    };
</script>
