# AWS S3 APTrust KEYS

# Config for apt_upload and apt_download
DownloadDir: Settings.APTrustRestore
AptrustApiUser: "USER@umich.edu"
AptrustApiKey: "ADD_USER_API_KEY_HERE"

Bucket: "s3 bucket"
BucketRegion: "s3 bucket region"
AwsAccessKeyId: 123456789XYZ
AwsSecretAccessKey: THIS KEY INCLUDES SPACES AND DOES NOT NEED QUOTES
