# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

devproque:
  secret_key_base: ce8e524e16f8aafae63aa0a00781e57c0e32339790163a6d5ae66d23df4522e6dfee3d6ccadc2af30dc88fa826f3b2ad151d9c17c60e5b52ed8bd6da7c71e5a1

development:
  secret_key_base: ce8e524e16f8aafae63aa0a00781e57c0e32339790163a6d5ae66d23df4522e6dfee3d6ccadc2af30dc88fa826f3b2ad151d9c17c60e5b52ed8bd6da7c71e5a1

test:
  secret_key_base: 2b4991d3f6b82031f31cd4d1afb800bf8030fcd5a62045f1a43c721f59560043e9a4b64a17b321bb2b95beab368722443793124f4e718318551407f5cdca9bd4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
