<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
<% end %>

  <div class="row asset">
    <!-- file_sets _media -->
    <div class="col-sm-6">
      <%= render "media", presenter: @presenter %>
    </div> <!-- / file_sets _media -->
    <!-- file_sets metadata and actions -->
    <div class="col-sm-6">
      <div class="row asset-attributes">
        <div class="col-sm-12">
          <h2><%= @presenter %></h2>
          <!-- TODO: get metadata for parent object -->
          <!-- monograph title -->
          <!-- monograph primary creator firstname lastname -->
          <h3>From <a href="#">Book Title</a>, by Firstname Lastname</h3>
          <br />
          <%= render "attributes", presenter: @presenter %>
        </div>
      </div> <!-- /.asset-attributes -->
      <div class="row asset-actions">
        <div class="col-sm-12">
          <%= render "show_actions", presenter: @presenter, parent: parent %>
        </div>
      </div> <!-- /.asset-actions -->
    </div> <!-- / file_sets metadata and actions -->
  </div> <!-- /.asset -->
