<%# Access Icon Legend, HELIO-3520 %>
<div class="card access-legend">
  <div class="facet_limit">
    <div class="card-header">
      <h3 class="card-title">
        Legend
      </h3>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= image_tag "free.svg", height: "16px", width: "38px", alt: "Free Icon" %>
          Free resource
        </li>
        <li class="list-group-item">
          <%= image_tag "green_check.svg", height: "16px", width: "16px", alt: "Purchased Icon" %>
          Access provided by your Library
        </li>
        <li class="list-group-item">
          <%= image_tag "lock_locked.svg", height: "16px", width: "16px", alt: "Restricted Icon" %>
          You do not have access
        </li>
        <li class="list-group-item">
          <%= image_tag "open-access.svg", height: "16px", width: "16px", alt: "Open Access Icon" %>
          Open access
        </li>
      </ul>
  </div>
</div>
