<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>New Permit</h1></div>
    <div class="col-md-12">
      <%= render 'form', permit: @permit %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', permits_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
