<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MARC Ingest Report for <%= @today %><h1>
    <ul>
      <% @report.each do |line| %>
      <li><%= line %></li>
      <% end %>
    </ul>
  </body>
</html>