<h1>Editing Institution Affiliation</h1>

<%= render 'form', institution_affiliation: @institution_affiliation %>

<%= link_to 'Show', greensub_institution_affiliation_path(@institution_affiliation) %> |
<%= link_to 'Back', greensub_institution_affiliations_path %>
