<div id="maincontent">
  <h1>Editing Component</h1>
  <div class="col-md-12">
    <%= render 'form', component: @component %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to 'Show', greensub_component_path(@component) %>
    <span> | </span>
    <%= link_to 'Back', greensub_components_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
