<% # header bar for doc items in index view -%>
<div class="col-sm-12">
  <div class="documentHeader">
    <h3 class="index_title">
      <% counter = document_counter_with_offset(document_counter) %>
      <%= render_markdown link_to_document document, render_markdown(document.title.first), counter: counter %>
    </h3>
  </div>
