<% if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, counter: document_counter_with_offset(document_counter)) %>
  <div class="col-sm-3">
    <% presenter = Hyrax::MonographPresenter.new(document, current_ability) %>
    <a href="<%= polymorphic_path(url_for_document(document)) %>" >
      <img class="img-responsive" src="<%= presenter.monograph_thumbnail %>"
           alt="Cover image for <%= presenter.representative_alt_text %>">
    </a>
  </div>
<% end %>
