<% provide :page_title, @search_ongoing ? "#{@press.name} results - page #{@response.current_page} of #{@response.total_pages}" : @press.name %>
<% provide :page_class, 'press' %>
<div id="maincontent">
  <% if has_facet_values?(facet_field_names, @response)  %>
  <div class="row">
    <div class="col-sm-12"><h2>Search and Browse Books</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-3 facets-container">
      <%= render 'catalog/search_sidebar' %>
    </div>
    <div class="col-sm-9 results-container">
      <%= render 'catalog/search_results', press: @press %>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-sm-12"><h2>Search and Browse Books</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11 results-container">
      <%= render 'catalog/search_results', press: @press %>
    </div>
  </div>
  <% end %>
</div>
