.survey {
  font-size: 1.5em;

  .message {
      padding-bottom: 1em;
  }

  a.btn-primary, a.btn-primary:hover, a.btn-primary:active {
      color: #fff;
  }

  a.btn-default, a.btn-default:active, a.btn-default:hover {
      color: inherit;
      background-color: #d9edf7;
      border-color: #d9edf7;
  }

  a.close {
      color: #31708f;
      opacity: .75;
  }

  a.close:active, a.close:hover {
      color: #31708f;
      opacity: 1;
  }
}
