///////////////////////////////////////////
// HELIOTROPE BASE THEME
// Place standard styling of app here
// Press related overrides go in themes.scss
///////////////////////////////////////////

///////////////////////////////////
// COLORS
///////////////////////////////////
$gray-60: #686868;
///////////////////////////////////
// NAVIGATION MENU
///////////////////////////////////
.navbar {
  margin-bottom: 0;
}

// skip links
.skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus {
  position: static;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  float: left;
  padding: .5em;
  background: #fff;
}

///////////////////////////////////
// BREADCRUMBS
///////////////////////////////////
.main-header {
  border-bottom: 0;
  margin-bottom: 0;
}

.breadcrumbs {
  .active {
    color: $gray-60;
  }
}
///////////////////////////////////
// FOOTER
///////////////////////////////////
footer.press {
  background-color: #262626;
  color: #fff;
  margin-top: 5em;

  img {
    width: 100px;
    height: auto;
  }

  .col-wrap {
    overflow: hidden;
  }

  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .press-block-a {
    padding-left: 30px;
  }

  .press-block-a,
  .press-block-b {
    padding-top: 30px;
    background-color: #171717;
  }

  .platform {
    padding-top: 30px;
    color: #BABABA;
  }

  .press-block-c {
    background-color: #000;
    padding: 10px;

      p {
        font-size: 16px;
      }

  }

}
///////////////////////////////////
// PRESS PAGE
///////////////////////////////////
.jumbotron {

  .container {
    margin-top: 3em;
  }

  .logo {

    img {
      width: 180px;
      height: auto;
      margin: 0 1em 1em 0;
    }

  }

}
///////////////////////////////////
// MONOGRAPH PAGE
///////////////////////////////////
.monograph {

  .page_links {
    display: inline-block;
    vertical-align: middle;
    margin-top: .4em;
  }

  // MONOGRAPH INFORMATION
 .monograph-info {

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .description,
    .isbn {
      margin-bottom: 1.5em;
    }

  }

  .top-panel-heading {
    padding-top: 0;
    padding-left: 0;
  }

  // MONOGRAPH ASSETS - LIST VIEW
  #documents.documents-list {

    .document {
      margin-bottom: 2em;
      padding-top: 1.5em;

      .document-thumbnail {
        img {
        margin-top: .9em;
        }
      }

      .documentHeader {
        p {
            font-size: 1.15em;
            font-weight: 500;
        }
      }

      .document-metadata {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

  // MONOGRAPH ASSETS - GALLERY VIEW
  .view-icon-gallery {
    &:before { content: "\e011"; }
  }

  #documents.gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    padding-top: 2em;
    margin: 0 auto;
    width: 90%;

    .document {
      border-bottom: none;
      border-top: none;

      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;

      min-width: 250px;
      min-height: 250px;
      -webkit-flex: 1 0 250px;
    }

    .document:first-child {
      margin-top: auto;
    }

    .index_title {
      width: 100%;
      font-weight: 400;
    }

    .document-counter {
      display: none;
    }

    .index-document-functions {
      clear: left;
    }

    .document-metadata {
      dt, dd {
        float: none;
        width: auto;
        clear: none;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }

  #documents.row.gallery {
    display: block;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .document {
      display: flex;
      flex: none;
      align-items: stretch;

      .thumbnail {
        width: 100%;
        padding: 1em;
      }
    }
  }

}
///////////////////////////////////
// ASSET PAGES
///////////////////////////////////
.asset-navigation {
  a.previous span {
    margin-right: 5px;
    margin-top: 2px;
  }

  a.next span {
    margin-left: 5px;
    margin-top: 2px;
  }
}

.asset {

  figure {
    display: inline-block;
    width: 97%;
    height: auto;
    margin: initial;
  }

  figcaption {
    font-style: italic;
    margin-top: 1em;

    em {
      font-style: normal;
    }

  }

  // LEAFLET/IMAGES
  #image {
    height: 540px;
    width: 100% !important;
  }

  // WEBKIT MEDIA CONTROLS
  // disable the download button in chrome 55+
  // See assets/javascripts/disable_chrome_media_download_button.js
  // #670
  .no-download::-internal-media-controls-download-button {
    display:none;
  }
  .no-download::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
  }
  .no-download::-webkit-media-controls-enclosure {
    overflow:hidden;
  }


  // AUDIO and VIDEO - Able Player
  .able-wrapper {

    .able {
      box-shadow: 0 0 0 0 transparent;

      video {
        width: 100% !important;
        height: auto !important;
      }

      audio {
        width: 100% !important;
      }

      .able-seekbar {
        height: 0.8em;
      }

      .able-status-bar {
        height: 2em;
        min-height: 2em;
      }

    }

  }

  #transcript, .translation {
    width: 97%;

  }

  #transcript {
    padding-top: 2em;
    .able-transcript-area {
      border-color: #DDD;

      .able-window-toolbar {
        color: #333;
        background-color: #f5f5f5;
        border-color: #DDD;

        h3 {
          color: #333;
          display: inline-block;
          margin-right: 68%;
        }

        label {
          color: #333;
        }

      }

    }
  }

  // ASSET METADATA
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    border-top: 0 solid #fff;
  }

  #info {
    table tbody tr:last-of-type th {
      vertical-align: middle;
    }
  }

  .tab-content {
    table.table {
      margin-top: 1.5em;
    }
  }

  .keywords, .content_type, .language {
    display: inline-flex;
    margin-right: .5em;
  }

  .keywords:not(:last-of-type):after, .content_type:not(:last-of-type):after, .language:not(:last-of-type):after {
   content: ", ";
  }

  .translation, .transcript {
    margin-top: 2em;
  }
}
