// custom styles for heliotrope

// navigation menu


// monograph
.monograph {

  .monograph-info {

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .description,
    .isbn {
      margin-bottom: 1.5em;
    }

  }

  .top-panel-heading {
    padding-top: 0;
    padding-left: 0;
  }

  #documents {

    .document {
      margin-bottom: 2em;
      padding-top: 1.5em;

      .document-thumbnail {
        img {
        margin-top: .9em;
        }
      }

      .documentHeader {
        p {
            font-size: 1.15em;
            font-weight: 500;
        }
      }

      .document-metadata {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

}

// asset pages
.asset {

  // leaflet-images
  #image {
    height: 540px;
    width: 97%;
  }

  // video
  video {
    width: 97%;
  }

  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 0 solid #fff;
  }

  .description, .permission_badge {
    margin-top: 1em;
    margin-left: -6em;
  }

  .keywords {
    display: inline;
    margin-right: .5em;
  }

  .translation, .transcript {
    margin-top: 2em;
  }

  .holding_contact {
    margin-left: -6em;
  }

}
