// the out-of-the-box layout for heliotrope

// navigation menu
.navbar {
  margin-bottom: 0;
}

// footer
footer.press {
  background-color: #262626;
  color: #fff;
  margin-top: 5em;

  img {
    width: 100px;
    height: auto;
  }

  .col-wrap {
    overflow: hidden;
  }

  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .social {
    padding-left: 30px;
  }

  .social,
  .footer-nav {
    padding-top: 30px;
    background-color: #171717;
  }

  .platform {
    padding-top: 30px;
    color: #BABABA;
  }

  .copyright {
    background-color: #000;
    padding: 10px;

      p {
        font-size: 16px;
      }

  }

}

// press
.jumbotron {

  .container {
    margin-top: 3em;
  }

  .logo {

    img {
      width: 180px;
      height: auto;
      margin: 0 1em 1em 0;
    }

  }

}

// monograph
.monograph {
  margin-top: 5em;

  .monograph-info {

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .description,
    .isbn {
      margin-bottom: 1.5em;
    }

  }

  .top-panel-heading {
    padding-top: 0;
    padding-left: 0;
  }

  #documents {

    .document {
      margin-bottom: 2em;
      padding-top: 1.5em;

      .document-thumbnail {
        img {
        margin-top: .9em;
        }
      }

      .documentHeader {
        p {
            font-size: 1.15em;
            font-weight: 500;
        }
      }

      .document-metadata {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

}

// asset pages
.asset {
  margin-top: 5em;

  figure {
    display: inline;
    margin: initial;
  }

  figcaption {
    font-style: italic;
    margin-top: 1em;

    em {
      font-style: normal;
    }

  }

  // leaflet-images
  #image {
    height: 540px;
    width: 97%;
  }

  // video
  video {
    width: 97%;
  }

  // metadata info
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    border-top: 0 solid #fff;
  }

  .tab-content {
    table.table {
      margin-top: 1.5em;
    }
  }

  .keywords {
    display: inline-flex;
    margin-right: .5em;
  }

  .keywords:not(:last-of-type):after {
   content: ", ";
  }

  .translation, .transcript {
    margin-top: 2em;
  }
}
