// Press themes are collected here

// University of Minnesota press
// colors
$umn-brand-color: #7b2e00;
$umn-accent-color: #ffde7a;

$umn-accent-footer-aqua: #0b788a;
$umn-accent-footer-rust: #bd6423;

$umn-accent-link: #a43727;
$umn-accent-link2: #ef4b4b;

$umn-grey: #d5d6d2;
$umn-black: #0b3d4c;
$umn-black-80: #342f2e;
$umn-blue: #16bbe6;
$umn-white: #fff;

// typography
@mixin brandon {
  font-family: "brandon-grotesque", sans-serif;
}

@mixin ff-meta-serif {
  font-family: "ff-meta-serif-web-pro", serif;
}

.minnesota {

  // typography
  @include ff-meta-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include brandon;
  }

  // links
  a {
    color: $umn-accent-link;
  }

  a:hover,
  a:active {
    color: $umn-accent-link2;
  }

  // buttons
  .btn {
    @include brandon;
  }

  #manage-monograph-button {
    color: $umn-grey;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $umn-accent-footer-aqua;
  }

  #brand-bar {
    background-color: $umn-brand-color;

    .navbar-brand {
      color: $umn-white;
      @include brandon;
      text-transform: uppercase;
      font-weight: 500;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name {
          color: $umn-white;
      }
    }

    button.search-submit {
      background-color: $umn-accent-footer-aqua;
      border-color: $umn-accent-footer-aqua;
    }

  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $umn-grey;
    @include brandon;

    .logo {

      img {
        margin-right: 3em;
        width: auto;
        height: 150px;
      }

    }

  }

  .press {

    h2:nth-child(2) {
      margin-bottom: 1.5em;
    }

    .document,
    .documentHeader {
      margin-bottom: 2em;
    }
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include brandon;
      }
    }
  }

  // pagination
  .page_links {
    @include brandon;
  }

  .pagination {
    @include brandon;
     li a, li span {
       color: $umn-accent-footer-aqua;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $umn-accent-footer-aqua;
       border-color: $umn-accent-footer-aqua;
       color: $umn-white;
     }
  }

  // assets
  .asset {
    ul.nav-tabs li {
      @include brandon;
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $umn-white;
    }
    .social,
    .footer-nav {
      background-color:  $umn-grey;

      .crop {
        height: 126px;
        width: auto;
      }

      a,
      a:hover,
      a:active {
        color: $umn-black-80;
      }

      img {
        width: 45px;
        filter: grayscale(100%) contrast(125%);
      }

      p {
        @include brandon;
        text-transform: uppercase;
        font-weight: 500;
      }

    }
    .copyright {
      background-color: $umn-brand-color;
    }
    .platform {
      background-color: $umn-black-80;
    }
  }

}

// Northwestern University Press
// colors
$nw-brand-color: #4e2a84;
$nw-accent-color: #d8d6d6;

$nw-purple-60: #836eaa;
$nw-purple-30: #b6acd1;
$nw-purple-10: #e4e0ee;
$nw-black-80: #342f2e;
$nw-black-20: #bbb8b8;
$nw-white: #fff;

$fulcrum-light-2: #bec4cc;

// typography
@mixin droid-serif {
  font-family: "droid-serif", Georgia, serif;
}

@mixin freight-sans-semi-bold {
  font-family: "freight-sans-pro", sans-serif;
  font-weight:600;
}

@mixin freight-sans-book {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
}

@mixin freight-sans-light {
  font-family: "freight-sans-pro", sans-serif;
  font-weight:300;
}

.northwestern {

  //typography
  @include droid-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include freight-sans-semi-bold;
  }

  // links
  a {
    color: $nw-brand-color;
  }

  a:hover,
  a:active {
    color: $nw-purple-60;
  }

  // buttons
  .btn {
    @include freight-sans-book;
  }

  #manage-monograph-button {
    color: $nw-white;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $nw-purple-60;
  }

  #brand-bar {
    background-color: $nw-brand-color;

    .navbar-brand {
      color: $nw-white;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name {
          color: $nw-white;
      }
    }


    button.search-submit {
      background-color: $nw-purple-60;
      border-color: $nw-purple-60;
    }

  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $nw-purple-10;
    @include freight-sans-light;

    .logo {

      img {
        margin-right: 3em;
        width: 150px;
      }

    }

  }

  .press {

    h2:nth-child(2) {
      margin-bottom: 1.5em;
    }

    .document,
    .documentHeader {
      margin-bottom: 2em;
    }
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include freight-sans-book;
      }
    }
  }

  // assets
  .asset {
    ul.nav-tabs li {
      @include freight-sans-book;
    }

    #permissions {

      table tbody tr:last-of-type {
          th {
            display: table-column;
          }

          li.holding_contact {
            margin-left: -6em;
          }
      }

      table tbody tr:only-of-type li.holding_contact {
          margin-left: 0;
      }

    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $nw-white;
    }
    .social,
    .footer-nav {
      background-color: $nw-purple-60;
      img {
        width: 50px;
      }

    }
    .copyright {
      background-color: $nw-brand-color;
    }
    .platform {
      background-color: $nw-black-80;
    }
  }


}
