<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>New Product</h1></div>
    <div class="col-md-12">
      <%= render 'form', product: @product %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', products_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
