<nav id="masthead" class="navbar navbar-expand-sm navbar-dark admin-navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->    
    <a id="logo" class="navbar-brand" data-no-turbolinks="true" href="/?locale=en"><%= image_tag "fulcrum-full-white.svg", class: 'navbar-brand-logo', alt: 'Fulcrum', height: '40', width: 'auto' %></a>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="top-navbar-collapse">
      <div class="navbar-right">  
        <%= render '/shared/my_actions' %>
      </div>
    </div>
  </div>
</nav>
