<% unless presenter.section_docs.blank? %>
  <h2>Sections</h2>

  <ul class="sections">
    <% presenter.section_docs.each do |doc| %>
      <li>
        <%= link_to(doc.title_or_label, main_app.curation_concerns_section_path(doc)) %>
      </li>
    <% end %>
  </ul>
<% end %>
