<% provide :page_header do %>
  <h1><span class="fa fa-list-ol"></span> COUNTER Reports</h1>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <p>
      You can now view Fulcrum COUNTER reports as an institutional user through <a href="https://www.fulcrum.org/counter_reports?locale=en">this link to the Scholarly IQ dashboard</a>. 
      You must be authenticated from a known institution in order to do so. 
      The dashboard includes a Help section in the top navigation bar along with a Help Widget to guide you through reporting steps. 
    </p>  
    <p>
      COUNTER 5 "standard" views are reports that have specific parameters preset. COUNTER 5 "master" reports allow the selection of the different parameters and metrics.
    </p>
    <p>
      <a href="https://www.projectcounter.org/code-of-practice-five-sections/4-1-usage-reports/">COUNTER 5 report definitions</a>
    </p>
    <p>
      <a href="https://www.projectcounter.org/appendix-i-sample-counter-reports/">Sample COUNTER 5 reports</a>
    </p>
  </div>
</div>