// facet-pivot-count is no longer used (replaced by facet-count in HELIO-1988)
// so this item may not do anything.
.facet-values {
  .facet-pivot-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
  }
}
