.navbar-dark.admin-navbar {
  background-color: #002C63;
  .navbar-nav .nav-link {
    color: #fff;
  }
}

#main #dashboard {
  
  #sidebar {
    background-color: #f5f5f5;

    .navbar-nav > .active > a {
      border-bottom: 2px solid #002C63;
      color: #002C63;
    }
    
  }

  #maincontent {
    padding-top: 1em;
    padding-bottom: 1em;
  }

}


