///////////////////////////////////////////
// HELIOTROPE BASE THEME
// Place standard styling of app here
// Press related overrides go in themes.scss
///////////////////////////////////////////
///////////////////////////////////
// UTILITY
///////////////////////////////////
.u-screenreader {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.u-screenreader--ignore {
  speak: none;
}

:focus,
.btn-group > .btn:focus {
  outline: 3px solid #00AFEC;
  outline-offset: 0;
  -webkit-transition: outline .05s ease-out;
  -o-transition: outline .05s ease-out;
  transition: outline .05s ease-out;
}

/* Should this be migrated into the CSB gem? */
.cozy-container i[class^='icon-chevron-'] {
  color: #919191 !important;
}

/* Ditto above. Duplicated here because otherwise overridden by !important */
.cozy-container i[class^='icon-chevron-']:hover {
  color: #002c63 !important;
  transition: 0.2s ease-in;
}

/////////////////////////////////////////////////
// BOOTSTRAP OVERRIDES FOR WCAG AA/AAA COMPLIANCE
// See https://infoguides.wtamu.edu/bootstrap/helpers
/////////////////////////////////////////////////
.alert-info {
  background-color:#d9edf7;
  border-color:#bce8f1;
  color:#235067;
}

.label-info {
  background-color:#20809d !important; // 175d72 for AAA
}

.label-success {
  background-color:#3a833a !important; // 2c632c for AAA
}

.label-warning {
  background-color:#a4660e !important; // 7b4c09 fpr AAA
}

.label-danger {
  background-color: #d4403a !important; // a72925 for AAA
}

.alert {
  a.close {
    color: #31708f;
    opacity: .85;
  }

  a.close:active, a.close:hover {
    color: #31708f;
    opacity: 1;
  }
}

///////////////////////////////////
// COLORS
///////////////////////////////////
$gray-60: #686868;
///////////////////////////////////
// NAVIGATION MENU
///////////////////////////////////
.navbar {
  margin-bottom: 0 !important;
}

.input-group {
  margin-bottom: 0 !important;
}

// skip links
div.skip {
  position: absolute;
  z-index: 1001;
}

.skip {
  a {
    position: absolute;
    top: auto;
    left: -10000px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    top: 0;
    left: 0;
    color: white;
    background-color: black;
  }
}

///////////////////////////////////
// BANNER
///////////////////////////////////

.banner {
  font-size: 1.5em;

  .message {
    padding-bottom: 1em;
    a {
      text-decoration: underline;
    }
  }

  a.btn-primary, a.btn-primary:hover, a.btn-primary:active {
    color: #fff;
    text-decoration: none;
  }

  a.btn-default, a.btn-default:active, a.btn-default:hover {
    color: inherit;
    background-color: #d9edf7;
    border-color: #d9edf7;
    text-decoration: none;
  }

  a.close {
    color: #31708f;
    opacity: .75;
  }

  a.close:active, a.close:hover {
    color: #31708f;
    opacity: 1;
  }
}

///////////////////////////////////
// BREADCRUMBS
///////////////////////////////////
.main-header {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 1em;
}

.breadcrumbs {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .active {
    color: $gray-60 !important;
  }

  .breadcrumb li + ::before {
    border-right: 0.1em solid #ccc;
    content: '' !important;
    display: inline-block;
    height: 0.8em;
    margin: 0 0.6em;
    transform: rotate(15deg);
  }

  .breadcrumb li {
    margin-left: -.6em;
  }

  .breadcrumb li:first-child {
    margin-left: 0;
  }
}

//////////////////////////////////
// SURVEY
///////////////////////////////////
.survey {
  font-size: 1.5em;

  .message {
      padding-bottom: 1em;
  }

  a.btn-primary, a.btn-primary:hover, a.btn-primary:active {
      color: #fff;
  }

  a.btn-default, a.btn-default:active, a.btn-default:hover {
      color: inherit;
      background-color: #d9edf7;
      border-color: #d9edf7;
  }

  a.close {
      color: #31708f;
      opacity: .75;
  }

  a.close:active, a.close:hover {
      color: #31708f;
      opacity: 1;
  }
}

///////////////////////////////////
// FOOTER
///////////////////////////////////
footer.press {
  background-color: #262626;
  color: #fff;
  margin-top: 5em;

  img {
    width: 100px;
    height: auto;
  }

  .col-wrap {
    overflow: hidden;
  }

  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .press-block-a {
    padding-left: 30px;
  }

  .press-block-a,
  .press-block-b {
    padding-top: 30px;
    background-color: #171717;
  }

  .platform {
    padding-top: 30px;
    color: #FFFFFF;
  }

  .press-block-c {
    background-color: #000;
    padding: 10px;

      p {
        font-size: 16px;
      }

  }

}
///////////////////////////////////
// PRESS PAGE
///////////////////////////////////
.jumbotron {

  .container {
    margin-top: 3em;
  }

  .logo {

    img {
      width: 180px;
      height: auto;
      margin: 0 1em 1em 0;
    }

  }

  p.publisher-info {
    font-size: .9em !important;
    padding-top: .5em;

    span.twitter:nth-child(2)::before {
      content: " | ";
    }

  }

}
.press {

  // List View
  #documents.documents-list {

    .document {
      border-bottom: none;
      padding-top: 2em;

      a {
        display: block; 
      }

      .thumbnail {
        text-align: left;
        border: none;
        border-radius: 0px;
        padding: 0px;

        img {
          margin-left: 0;
          margin-right: 0;
          border: 2px solid #eeeeee;
        }
      }

      .caption {
        h3.index_title {
          font-size: 16px;
        }

        .authors {
          font-size: 13px;
        }
      }
    }
  }

  // Gallery View (Default)
  .results-container {
    padding-left: 3em;
    margin-top: -2.75em;

    #sortAndPerPage, .pagination-search-widgets {
      border-bottom: none;
      margin-bottom: 0em;
      padding-bottom: 4em;
    }

  }

  #documents.gallery {

    .document {
      border-top: none;
      border-bottom: none;
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 3em;

      .thumbnail {
        text-align: left;
        border: none;
        border-radius: 0px;
        padding: 0px;
        margin-bottom: 0px;

        img {
          margin-left: 0;
          margin-right: 0;
          border: 2px solid #eeeeee;
        }
      }

      .caption {
        padding: 0px;

        h3.index_title {
          font-size: 16px;
        }

        .authors {
          font-size: 13px;
        }

        .col-sm-12 {
          padding: 0px;
        }
      }
    }

  }
}
///////////////////////////////////
// PRESS AND MONOGRAPH FILTERS
///////////////////////////////////
.col-sm-3.facets-container,
#facet-panel-collapse {
  padding-left: 0px;
}

.facet-anchor {
  display: flex;
  justify-content: space-between;
}

.facets-container {
  .panel-group {
    padding-left: 0px;
  }

  .panel-group .panel {
    border-radius: 0px;
  }

  .panel-heading {
    padding-top: 15px;
  }

  .panel-group .panel + .panel {
    margin-top: 0px;
  }
}
///////////////////////////////////
// PRESS ADD/EDIT FORM
///////////////////////////////////
.press-form-logo {
  height: 100px;
  width: auto;
}
///////////////////////////////////
// MONOGRAPH FORM
///////////////////////////////////

.simple_form.edit_monograph, .simple_form.new_monograph {
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
  }
}

///////////////////////////////////
// MONOGRAPH PAGE
///////////////////////////////////
.monograph {

  figure.peer_review {
    margin-top: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  figure.peer_review img {
    border: none !important;
    width: 85px;
    height: 80px;
    margin-right: .5em;
  }

  figure.peer_review figcaption {
    font-size: 11px;
  }

  .metrics {
    padding-top: .5em;

    .altmetric-embed {
      padding-bottom: .5em;
    }
  }

  .fulcrum_sidebar {
    // In hyrax2 this defaults to grey which we don't want
    background-color: white;
  }

  div.facets h3 {
    font-size: 1.2em;
  }

  .page_links {
    display: inline-block;
    vertical-align: middle;
    margin-top: .4em;
  }

  #appliedParams.constraints-container {
    margin-bottom: 20px;
  }

  .monograph-cover {
    .modal {
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
    img {
      border: 4px solid #eeeeee;
    }
  }

  .monograph-metadata {
    h1 {
      font-size: 30px;
    }

    .authors {
      font-size: 24px;
      font-weight: 700;
      display: block;
      padding-bottom: .2em;
    }

    .pubdate {
      padding-right: .4em;
      vertical-align: middle;
    }

    .funder {
      display: block;
    }

    .message {
      display: inline-block;
      padding-left: 2em;
      padding-top: 1em;

      a {
        text-decoration: underline;
      }
    }

    .open-access {
      display: flex;
      align-items:center;
      margin-top: 1em;
      font-weight: bold;
      font-stretch: condensed;
      img {
        margin-right: .5em;
      }
    }
  }

  // EPUB - MONOGRAPH INFORMATION
  .monograph-info-epub {
    padding-bottom: 2em;

    .manage-monograph-button {
      margin-top: 1em;
    }

    .monograph-metadata {
      .copyright {
        font-size: .85em;
      }

      .description {
        padding-top: 1.2em;
        padding-bottom: 2em;
      }

      .additional-metadata {
        padding-top: 2em;
        dt, dd {
          display: inline-block;
          float: left;
        }
        dt {
          clear: both;
          width: 8em;
        }

        dd {
          padding-left: 3em;
        }

        dd > form {
          width: 200%;
          label {}
        }

        ul {
          padding-left: 0;
        }
      }
    .webgl.alert {
      margin-left: 0;
      margin-right: 0;
      font-size: 15px;

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

      table.table {
        margin-top: 1.5em;
      }

      .table > thead > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > th,
      .table > tbody > tr > td,
      .table > tfoot > tr > th,
      .table > tfoot > tr > td {
        border-top: 0 solid #fff;
        padding: 0px;
      }

      table tbody tr:last-of-type th {
        vertical-align: middle;
      }

      input#permalink {
        max-width: 82%;
      }
    }
  }

  .monograph-assets-toc-epub {
    .monograph-assets-toc-epub-content {
      padding-top: 4em;
    }

    /* Monograph TOC */

    ul.toc {
      list-style: none;
      padding-left: 0;
      padding-right: 0;
    }

    ul.toc li {
      line-height: 3em;
      border-bottom: 1px solid #eee;
      display: flex;
      flex-direction: column;
    }

    ul.toc li .section-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    a.toc-link {
     max-width: 80%;
    }

    ul.toc li:first-child {
      border-top: 1px solid #eee;
    }

    ul.toc ul.toc li:last-child {
      border: none;
    }

    ul.toc ul.toc a.toc-link {
      padding-left: 2em;
    }

    ul.toc ul.toc ul.toc a.toc-link {
      padding-left: 4em;
    }

    #toc > div > ul.toc {
      font-size: 1.2em;
    }

    .chapter {
      padding-left: 1em;
    }

    .download {
      padding: 0;
      margin-top: 11px;
    }
  }

  // MONOGRAPH ASSETS - LIST VIEW
  #documents.documents-list {

    .document {
      margin-bottom: 1.5em;
      padding-top: 1.5em;
      border-bottom: none;

      .document-thumbnail {
        img {
        margin-top: .9em;
        border: 2px solid #eeeeee;
        }

        .file-set-glyphicon {
          font-size: 9em;
          margin-bottom: 10px;
        }

        .glyphicon.glyphicon-file {
          // glyphicons with portrait orientation take up too much height
          font-size: 6em;
        }

        .external-resource-link {
          text-align: center;
        }

      }

      .documentHeader {
        p {
            font-size: 1.15em;
            font-weight: 500;
        }
      }

      .document-metadata {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

  // MONOGRAPH ASSETS - GALLERY VIEW
  .view-icon-gallery {
    &:before { content: "\e011"; }
  }

  #documents.gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    padding-top: 2em;
    margin: 0 auto;
    width: 90%;

    .document {
      border-bottom: none;
      border-top: none;

      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;

      min-width: 250px;
      min-height: 250px;
      -webkit-flex: 1 0 250px;
    }

    .document:first-child {
      margin-top: auto;
    }

    .index_title {
      width: 100%;
      font-weight: 400;
    }

    .document-counter {
      display: none;
    }

    .index-document-functions {
      clear: left;
    }

    .document-metadata {
      dt, dd {
        float: none;
        width: auto;
        clear: none;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }

  #documents.row.gallery {
    display: block;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .document {
      display: flex;
      flex: none;
      align-items: stretch;

      .thumbnail {
        width: 100%;
        padding: 1em;
        text-align: center;

        img {
          border: 2px solid #eeeeee;
        }

        .file-set-glyphicon {
          font-size: 8em;
        }

      }
      .caption {
        display: inline-block;
        text-align: left;
      }

      .external-resource-link {
        text-align: center;
      }
    }
  }

  .stats-container.usage {
    width: 80%;
  }

  .stats-container.overview {
    width: 80%;
    height: 150px;
  }

  section#reviews {
    table {
      // the reviews.html files all have a "Reviews" caption on the table
      // which appears immediately under our "Reviews" tab link and looks redundant
      caption {
        display: none;
      }
      th, td {
        padding: 10px;
      }
    }
  }

}

///////////////////////////////////
// SCORE... Hacks. For now.
////////////////////////////////////
.score .monograph-info-epub .monograph-metadata .additional-metadata {
  ul {
    padding-left: 0;
  }
  dt {
    clear: both;
    width: 12em;
  }
  dt, dd {
    display: inline-block;
    float: left
  }
}

///////////////////////////////////
// ASSET/RESOURCE PAGES
///////////////////////////////////
.asset-navigation {
  a.previous span {
    margin-right: 5px;
    margin-top: 2px;
  }

  a.next span {
    margin-left: 5px;
    margin-top: 2px;
  }
}

.asset {

  figure {
    display: inline-block;
    width: 97%;
    height: auto;
    margin: initial;
  }

  figcaption {
    font-style: italic;
    margin-top: 1em;

    em {
      font-style: normal;
    }

  }

  .external-text {
    margin-top: 20px;
  }

  // MEDIA TOMBSTONE
  .tombstone {
    font-style: italic;
    font-size: 1.5em;
  }

  // LEAFLET/IMAGES
  #image {
    height: 540px;
    width: 100% !important;
  }

  // non-Leaflet Asset page image (PDF thumbnails etc)
  .asset-page-image {
    margin: auto;
  }

  // WEBKIT MEDIA CONTROLS
  // disable the download button in chrome 55+
  // See assets/javascripts/disable_chrome_media_download_button.js
  // #670
  .no-download::-internal-media-controls-download-button {
    display:none;
  }
  .no-download::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
  }
  .no-download::-webkit-media-controls-enclosure {
    overflow:hidden;
  }

  // MAPS

  .map {
    h1 {
      margin-bottom: 1em;
    }

    iframe {
      border: 0;
    }
  }

  // AUDIO and VIDEO - Able Player
  .able-wrapper {

    .able {
      box-shadow: 0 0 0 0 transparent;

      video {
        width: 100% !important;
        height: auto !important;
      }

      audio {
        width: 100% !important;
      }

      .able-seekbar {
        height: 0.8em;
      }

      .able-status-bar {
        height: 2em;
        min-height: 2em;
      }

    }

  }

  #audio-transcript-container {
    .able-transcript-area {
      height: 250px;
      .able-window-toolbar {
        height: 40px;
        padding: 2px;
      }
    }

    .able-transcript {
      height: 207px;
    }
  }

  #transcript, .translation {
    width: 97%;
  }

  .transcript .panel-body {
    overflow-y:scroll;
    height:400px;
  }

  // ASSET METADATA
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    border-top: 0 solid #fff;
  }

  span.section {
    margin: 2em 0 1em;
    display: block;
    font-size: 1.3em
  }

  #info {
    table tbody tr:last-of-type th {
      vertical-align: middle;
    }
  }

  .tab-content {
    table.table {
      margin-top: 1.5em;
    }
  }

  .keywords, .content_type, .language {
    display: inline-flex;
    margin-right: .5em;
  }

  .keywords:not(:last-of-type):after, .content_type:not(:last-of-type):after, .language:not(:last-of-type):after {
   content: ", ";
  }

  .translation, .transcript {
    margin-top: 2em;
  }

  .btn {
    margin-top: 3px;
  }

  .btn-heliotrope-download {
    display: inline-block;
    margin: 1em 0 0;
  }

  .asset-page-glyphicon {
    display: block;
    font-size: 12em;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  a.glyphicon-download-link, a.glyphicon-download-link:hover {
    text-decoration: none !important;
  }

  .stats-container.usage {
    width: 100%;
    height: 250px;
  }

  .stats-container.overview {
    width: 100%;
    height: 125px;
  }
}

// restrict large user-uploaded thumbnails on the asset edit page
.restricted-width-media-display {
  .representative-media {
    width: 100%;
  }
}


///////////////////////////////////
// ACCESS RESTRICTION PAGE
///////////////////////////////////
.restrict-title {
  padding: 3em 2em 3em;
  margin: 0 !important;
  background: #e8e8e8;
  border: 1px solid #d6cece;
}

.restrict-message {
  padding-bottom: 2em;
  font-size: 1.2em;
}

#idpSelectIdPSelector {
  width: auto !important;

  #idpSelectInput {
    width: 60% !important;
  }

  #idpSelectSelectButton {
    width: 35% !important;
  }

}
///////////////////////////////////
// EPUB READER - cozy-sun-bear
///////////////////////////////////
#epub {
  font-size: 16px;

  // Custom Loading Animation
  .fulcrum-loading {
    margin: 0 auto;
    width: 100px;
    height: 25px;
    font-size: 10px;
  }

  .fulcrum-loading > .rect {
    height: 100%;
    width: 76%;
    display: block;
    margin-bottom: 0;
    -webkit-animation: stretchdelay 1.6s infinite ease-in-out;
    animation: stretchdelay 1.6s infinite ease-in-out;
  }

  .fulcrum-loading > .circle {
    height: 100%;
    width: 30%;
    border-radius: 50%;
    display: block;
    margin-bottom: 0;
    -webkit-animation: stretchdelay 1.6s infinite ease-in-out;
    animation: stretchdelay 1.6s infinite ease-in-out;

  }

  .fulcrum-loading .circ1 {
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    margin-left: 42%;
  }
  .fulcrum-loading .rect2 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
  }
  .fulcrum-loading .circ2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    margin-left: 4%;
  }

  @-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
      -webkit-transform: scaleX(0.8);
      background-color: #002C63;
      box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
    }
    20% {
      -webkit-transform: scaleX(1);
      background-color: #00AFEC;
      box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
    }
  }
  @keyframes stretchdelay {
    0%, 40%, 100% {
      background-color: #002C63;
      transform: scaleX(0.8);
      -webkit-transform: scaleX(0.8);
      box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
    }
    20% {
      background-color: #00AFEC;
      transform: scaleY(1);
      -webkit-transform: scaleX(1);
      box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
    }
  }
  .cozy-module-book-loading-status {
    margin-top: 7em;
    margin-left: 1.125em;
    width: 100px;
  }
}

#reader {
  .button--sm.cozy-preferences {
    color: #002C63;
    background: #f1f1f1;
    background-image: linear-gradient(to right, #002C63 50%, #f1f1f1 50%);
    background-position: -100%;
    background-size: 201%;
    background-repeat: no-repeat;
    &:hover, &:focus, &:active {
      color: #fff;
      background-position: 0;
      transition: 0.2s ease-in;
    }
  }
  .helio-loading-bar .progress {
    z-index: 99999;
  }
}

.cozy-container i[class^='icon-'] {
    font-size: 2rem !important;
}

.cozy-container i[class^='icon-chevron-'] {
    font-size: 2.5em !important;
}

.cozy-container i.icon-comment-square {
  font-size: 1.7rem !important;
}

.cozy-preferences-modal .button--sm {
  font-size: 1em !important;
}

.cozy-control button.button--sm.cozy-citation {
    font-size: .9em !important;
}

.cozy-control button.button--sm.annotation i {
  font-size: 1.1em !important;
  margin-top: 1px;
}

.cozy-control .annotation-count {
  position: relative;
  right: 14px;
  color: #fff;
  top: 1px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: block;
  font-size: .7em;
}

.cozy-container input[type="radio"] {
  margin: 7px 7px 0 2em;
}

.cozy-container legend {
  font-size: initial;
  display: block;
  width: initial;
  border: initial;
  margin: 0 20px;
  font-weight: bold;
}

.cozy-container form label {
  font-weight: normal;
}

.cozy-control button.button--sm.cozy-close {
	padding: .83em 1em !important;
}

.cozy-control button.button--sm.cozy-close.mobile {
  display: none;
}

.cozy-panel-header {
  .cozy-panel-right {
    flex-direction: row-reverse;

  }
}

.cozy-control .btn-group {
  display: flex;
  flex: 1 1 auto;

  .dropdown-menu {
    border-radius: 0px;
    top: 96%;
  }

}

.cozy-modal {
  padding: 0 !important;
}

.modal__content {
  font-size: 1em !important;
}

.cozy-container .st-modal button.button--lg {
  font-size: 1.15em !important;
}

.cozy-control .logo img {
  height: 54.4px;
}

.cozy-container-altmetric {
  padding-top: .3em;
  padding-right: .5em;
  border: none;
}

.cozy-container-dimensions {
  padding-top: .5em;
  padding-right: .5em;
  border-left: none !important;
}

.cozy-container .cozy-panel-navigator {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: .9em;
}

.cozy-container .cozy-panel-feedback {
  position: fixed;
  padding-top: 1.8em;
  padding-left: 1em;
  z-index: 2;

  a {
    color: #333 !important;
  }
}

.panel-open.panel-right .cozy-module-book-cover {
  width: 50vw
}

.panel-open.panel-right .cozy-module-right {
  right: 50vw;
}
.special-panel {
  position: absolute;
  background: #f1f1f1;
  border-left: solid 1px #e8e8e8;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
  overflow: scroll;
}
.panel-right .special-panel {
  left: 50vw;
  right: 0;
  top: 0;
  bottom: 0;
}

#gameContainer {
  margin-left: auto !important;
  margin-right: auto !important;
}

#epub-webgl-mobile-message {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 60px;
}

/* Feel free to be horrified at the bonkers-ness of this construct. */
.cozy-panel-toolbar div.cozy-control:not(:first-of-type) {
  border-left: 1px solid white;
}

.cozy-panel-toolbar div.cozy-control:nth-of-type(2),
.cozy-panel-toolbar div.cozy-control:nth-of-type(3) {
  border-left: none;
}

@media screen and (max-width: 50em) {

  .cozy-container i[class^='icon-'] {
      font-size: 1.3rem !important;
  }

  .cozy-container i[class^='icon-chevron-'] {
      font-size: 1.8em !important;
  }

  .cozy-container i.icon-comment-square {
    font-size: 1.5rem !important;
  }

  .cozy-control button.button--sm.cozy-close.mobile {
    display: flex;
    padding: 0 .6em .4em !important;
  }

  .cozy-control button.button--sm.media,
  .cozy-control.cozy-container-altmetric,
  .cozy-control.cozy-container-dimensions {
    display: none;
  }

  .cozy-container input[type="text"] {
    width: auto !important;
    max-width: 75px;
  }

  .cozy-control form.search {
    width: auto;
    max-width: 100px;
  }

  .cozy-control button.button--sm {
    i.icon-menu {
      padding-bottom: .3em;
    }

    i.icon-magnifying-glass,
    i.icon-share-boxed {
      padding-bottom: .1em;
    }

  }

  .cozy-panel-toolbar div.cozy-control:nth-of-type(2) {
    border-left: 1px solid white;
  }

}


///////////////////////////////////
// SITE REQUIRES COOKIES ALERT
///////////////////////////////////
#cookies-required-alert {
  position: fixed;
  top: 90%;
  /*
    To stay on top of leaflet. They seem to have it somewhere over 300.
    It's nuts... And then AblePlayer has it somewhere over 1000!
    I don't even know. Can this mad arms race be won?
  */
  z-index: 99999;
}

///////////////////////////////////
// COOKIE PREFS (overrides UM branding)
///////////////////////////////////
.cc-btn.cc-allow {  background-color: #00AFEC !important;  color: #fff !important;}
.cc-btn.cc-allow:hover {  background-color: #73d2f4 !important;  color: #002C63 !important; }

///////////////////////////////////
// RESPONSIVE MEDIA QUERIES
///////////////////////////////////
@media(max-width: 992px) {
  .press {
    .page_links {
      display: block;
      float: right;
      padding: 10px 12px;
    }

    .search-widgets {
      clear: right;
    }
  }

  .monograph .monograph-assets-toc-epub {
    a.toc-link {
      max-width: 65%;
      line-height: 2em;
    }
  }
}

@media(max-width: 768px) {

  .press {
    #facets .top-panel-heading {
      border: 0px solid transparent;
      margin-bottom: 0;
    }

    .facets-container {
      button.facets-toggle {
        border-radius: 0px;
        margin-top: -4em;
      }
    }

    .results-container {
      margin-top: 0;
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .monograph .monograph-info-epub .monograph-metadata .additional-metadata dd > form {
    width: 120%;
  }

}

@media(max-width: 460px) {
  .press {
    .search-widgets {
      clear: right;

      #sort-dropdown.btn-group {
        float: right;
      }

      #per_page-dropdown.btn-group {
        display: block;
        float: right;
        padding-top: 1em;
      }
    }
  }

  .monograph .monograph-assets-toc-epub {
    a.toc-link {
      max-width: 57%;
      line-height: 1.5em;
    }
  }
}

///////////////////////////////////
// GOOGLE DATA STUDIO/ANALYTICS EMBEDS
///////////////////////////////////
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


///////////////////////////////////
// PRESS STATISTICS
///////////////////////////////////
.press-stats-text {
  padding: 1.4em;
  margin: 0;
  font-weight: bold;
}
