///////////////////////////////////////////
// HELIOTROPE BASE THEME
// Place standard styling of app here
// Press related overrides go in themes.scss
///////////////////////////////////////////

///////////////////////////////////
// COLORS
///////////////////////////////////
$gray-60: #686868;
///////////////////////////////////
// NAVIGATION MENU
///////////////////////////////////
.navbar {
  margin-bottom: 0 !important;
}

.input-group {
  margin-bottom: 0 !important;
}

// skip links
.skip a {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.skip a:focus {
  position: static;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  float: left;
  padding: .5em;
  background: #fff;
}

///////////////////////////////////
// BREADCRUMBS
///////////////////////////////////
.main-header {
  border-bottom: 0;
  margin-bottom: 0;
  margin-top: 1em;
}

.breadcrumbs {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .active {
    color: $gray-60 !important;
  }
}
///////////////////////////////////
// FOOTER
///////////////////////////////////
footer.press {
  background-color: #262626;
  color: #fff;
  margin-top: 5em;

  img {
    width: 100px;
    height: auto;
  }

  .col-wrap {
    overflow: hidden;
  }

  .col {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .press-block-a {
    padding-left: 30px;
  }

  .press-block-a,
  .press-block-b {
    padding-top: 30px;
    background-color: #171717;
  }

  .platform {
    padding-top: 30px;
    color: #FFFFFF;
  }

  .press-block-c {
    background-color: #000;
    padding: 10px;

      p {
        font-size: 16px;
      }

  }

}
///////////////////////////////////
// PRESS PAGE
///////////////////////////////////
.jumbotron {

  .container {
    margin-top: 3em;
  }

  .logo {

    img {
      width: 180px;
      height: auto;
      margin: 0 1em 1em 0;
    }

  }

}
.press {

  #documents.documents-list {

    .document {
      border-bottom: none;
      padding-top: 2em;

      .epub {
        padding-bottom: 1em;
      }

    }

  }
}
///////////////////////////////////
// PRESS ADD/EDIT FORM
///////////////////////////////////
.press-form-logo {
  height: 100px;
  width: auto;
}
///////////////////////////////////
// MONOGRAPH PAGE
///////////////////////////////////
.monograph {

  .fulcrum_sidebar {
    // In hyrax2 this defaults to grey which we don't want
    background-color: white;
  }

  div.facets h3 {
    font-size: 1.2em;
  }

  .page_links {
    display: inline-block;
    vertical-align: middle;
    margin-top: .4em;
  }

  #appliedParams.constraints-container {
    margin-bottom: 20px;
  }

  // EPUB - MONOGRAPH INFORMATION
  .monograph-info-epub {
    padding-bottom: 4em;

    #manage-monograph-button {
      margin-top: 2em;
    }

    .monograph-metadata {
      .description {
        padding-bottom: 2em;
      }

      .isbn {
        padding-top: 2em;
      }
    }
  }

  .monograph-assets-toc-epub {
    .monograph-assets-toc-epub-content {
      padding-top: 4em;
    }
    .chapter {
      margin-left: 4em;
    }
  }


  // SUPPLEMENTAL MATERIALS ONLY - MONOGRAPH INFORMATION
 .monograph-info {

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.3em;
    }

    .description,
    .isbn {
      margin-bottom: 1.5em;
    }

  }

  .top-panel-heading {
    padding-top: 0;
    padding-left: 0;
  }

  #sortAndPerPage {
    border-bottom: none;
  }

  .pagination {

    a.disabled {
      color: #333333;
      pointer-events: none;
      cursor: default;
    }

  }

  // MONOGRAPH ASSETS - LIST VIEW
  #documents.documents-list {

    .document {
      margin-bottom: 2em;
      padding-top: 1.5em;
      border-bottom: none;

      .document-thumbnail {
        img {
        margin-top: .9em;
        }

        .file-set-glyphicon {
          font-size: 9em;
          margin-bottom: 10px;
        }

        .external-resource-link {
          text-align: center;
        }

      }

      .documentHeader {
        p {
            font-size: 1.15em;
            font-weight: 500;
        }
      }

      .document-metadata {
        width: auto;
        padding-left: 0;
        padding-right: 0;
      }

    }

  }

  // MONOGRAPH ASSETS - GALLERY VIEW
  .view-icon-gallery {
    &:before { content: "\e011"; }
  }

  #documents.gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    padding-top: 2em;
    margin: 0 auto;
    width: 90%;

    .document {
      border-bottom: none;
      border-top: none;

      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;

      min-width: 250px;
      min-height: 250px;
      -webkit-flex: 1 0 250px;
    }

    .document:first-child {
      margin-top: auto;
    }

    .index_title {
      width: 100%;
      font-weight: 400;
    }

    .document-counter {
      display: none;
    }

    .index-document-functions {
      clear: left;
    }

    .document-metadata {
      dt, dd {
        float: none;
        width: auto;
        clear: none;
        text-align: left;
        margin: 0;
        padding: 0;
      }
    }
  }

  #documents.row.gallery {
    display: block;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .document {
      display: flex;
      flex: none;
      align-items: stretch;

      .thumbnail {
        width: 100%;
        padding: 1em;
        text-align: center;

        .file-set-glyphicon {
          font-size: 8em;
        }

      }
      .caption {
        display: inline-block;
        text-align: left;
      }

      .external-resource-link {
        text-align: center;
      }
    }
  }



}
///////////////////////////////////
// ASSET PAGES
///////////////////////////////////
.asset-navigation {
  a.previous span {
    margin-right: 5px;
    margin-top: 2px;
  }

  a.next span {
    margin-left: 5px;
    margin-top: 2px;
  }
}

.asset {

  figure {
    display: inline-block;
    width: 97%;
    height: auto;
    margin: initial;
  }

  figcaption {
    font-style: italic;
    margin-top: 1em;

    em {
      font-style: normal;
    }

  }

  .external-text {
    margin-top: 20px;
  }

  // LEAFLET/IMAGES
  #image {
    height: 540px;
    width: 100% !important;
  }

  // non-Leaflet Asset page image (PDF thumbnails etc)
  .asset-page-image {
    margin: auto;
  }

  // WEBKIT MEDIA CONTROLS
  // disable the download button in chrome 55+
  // See assets/javascripts/disable_chrome_media_download_button.js
  // #670
  .no-download::-internal-media-controls-download-button {
    display:none;
  }
  .no-download::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
  }
  .no-download::-webkit-media-controls-enclosure {
    overflow:hidden;
  }


  // AUDIO and VIDEO - Able Player
  .able-wrapper {

    .able {
      box-shadow: 0 0 0 0 transparent;

      video {
        width: 100% !important;
        height: auto !important;
      }

      audio {
        width: 100% !important;
      }

      .able-seekbar {
        height: 0.8em;
      }

      .able-status-bar {
        height: 2em;
        min-height: 2em;
      }

    }

  }

  #transcript, .translation {
    width: 97%;
  }

  .transcript .panel-body {
    overflow-y:scroll;
    height:400px;
  }

  // ASSET METADATA
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    border-top: 0 solid #fff;
  }

  #info {
    table tbody tr:last-of-type th {
      vertical-align: middle;
    }
  }

  .tab-content {
    table.table {
      margin-top: 1.5em;
    }
  }

  .keywords, .content_type, .language {
    display: inline-flex;
    margin-right: .5em;
  }

  .keywords:not(:last-of-type):after, .content_type:not(:last-of-type):after, .language:not(:last-of-type):after {
   content: ", ";
  }

  .translation, .transcript {
    margin-top: 2em;
  }

  .btn {
    margin-top: 3px;
  }

  .btn-heliotrope-download {
    display: inline-block;
    margin: 1em 0 0;
  }

  .asset-page-glyphicon {
    display: block;
    font-size: 12em;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 20px;
  }

  a.glyphicon-download-link, a.glyphicon-download-link:hover {
    text-decoration: none !important;
  }

}

// restrict large user-uploaded thumbnails on the asset edit page
.restricted-width-media-display {
  .representative-media {
    width: 100%;
  }
}

///////////////////////////////////
// EPUB READER - cozy-sun-bear
///////////////////////////////////
#epub {
  font-size: 16px;
}

.cozy-container i[class^='icon-'] {
    font-size: 2rem !important;
}

.cozy-container i[class^='icon-chevron-'] {
    font-size: 2.5em !important;
}

.cozy-container i.icon-comment-square {
  font-size: 1.7rem !important;
}

.cozy-preferences-modal .button--sm {
  font-size: 1em !important;
}

.cozy-container input[type="radio"] {
  margin: 7px 7px 0 2em;
}

.cozy-container legend {
  font-size: initial;
  display: block;
  width: initial;
  border: initial;
  margin: 0 20px;
  font-weight: bold;
}

.cozy-container form label {
  font-weight: normal;
}

.cozy-control button.button--sm.cozy-close {
	padding: .71em 1em;
}

.cozy-modal {
  padding: 0 !important;
}

.modal__content {
  font-size: 1em !important;
}

.cozy-container .st-modal button.button--lg {
  font-size: 1.15em !important;
}

.cozy-control .logo img {
  height: 54.4px;
}

.cozy-container .cozy-panel-navigator {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: .9em;
}

.cozy-container .cozy-panel-feedback {
  position: fixed;
  padding-top: 1.8em;
  padding-left: 1em;
  z-index: 2;

  a {
    color: #333 !important;
  }
}

///////////////////////////////////
// SITE REQUIRES COOKIES ALERT
///////////////////////////////////
#cookies-required-alert {
  position: fixed;
  top: 90%;
  /*
    To stay on top of leaflet. They seem to have it somewhere over 300.
    It's nuts... And then AblePlayer has it somewhere over 1000!
    I don't even know. Can this mad arms race be won?
  */
  z-index: 99999;
}
