button#ihavecookiesBtn {
    margin-left: 0px !important;
}

/* These colors fonts are from fulcrum.scss I can't figure out how to import them :( */
$fulcrum-brand-color:   #002C63;
$fulcrum-accent-color:  #00AFEC;

$fulcrum-white:         #FFF;
$fulcrum-light-1:       #E9EEF5;
$fulcrum-light-2:       #BEC4CC;
$fulcrum-gray:          #8A8E96;
$fulcrum-dark-1:        #565B63;
$fulcrum-dark-2:        #31343B;
$fulcrum-black:         #111417;

$fulcrum-shadow:        rgba($fulcrum-black, 0.33);

///////////////////////////////////
// typography
///////////////////////////////////

// google webfonts
@mixin crete {
  font-family: "Crete Round", Merriweather, georgia, serif;
  font-weight: 400;
}
@mixin crete-italic {
  font-family: "Crete Round", Merriweather, georgia, serif;
  font-weight: 400;
  font-style: italic;
}


// typekit webfonts
@mixin effra {
  font-family: "effra", Effra-regular, AvenirNext-Medium, Avenir-Medium, avenir, sans-serif;
  font-weight: 400;
}
@mixin effra-italic {
  font-family: "effra", Effra-regular, AvenirNext-Medium, Avenir-Medium, avenir, sans-serif;
  font-weight: 400;
  font-style: italic;
}
@mixin effra-medium {
  font-family: "effra", Effra-Medium, AvenirNext-Medium, Avenir-Medium, avenir, sans-serif;
  font-weight: 500;
}
@mixin effra-light {
  font-family: "effra", Effra-regular, AvenirNext-Medium, Avenir-Medium, avenir, sans-serif;
  font-weight: 300;
}


/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 375px;
    background-color: #002C63; //var(--purple);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 30px;
    font-family: effra-medium; //system-ui;
}
#gdpr-cookie-message h4 {
    color: #E9EEF5; //var(--red);
    font-family: effra-medium; //'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: #E9EEF5; //var(--red);
    text-decoration: none;
    font-size: 1em;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(255,255,255,0.75);
    text-decoration: underline;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: #E9EEF5; //var(--red);
    text-decoration: underline;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: 2px solid #E9EEF5;
    background: #002C63; //var(--red);
    color: white;
    font-family: effra-medium; //'Quicksand', sans-serif;
    font-size: 1em;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: #002C63; //var(--red);
    text-decoration: underline;
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    background: white;
    color: #002C63; //var(--red);
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}