// Press Themes are collected here to override
// base classes set in heliotrope.scss
///////////////////////////////////////////////
//
// Global mixins
//
///////////////////////////////////////////////
@mixin button-background-color($theme-button-background-color) {
  background-color: $theme-button-background-color;
  border-color: $theme-button-background-color;
}
@mixin button-font-color($theme-button-font-color) {
  color: $theme-button-font-color;
}
@mixin button-hover-background-color($theme-button-hover-background-color) {
  background-color: $theme-button-hover-background-color;
  border-color: $theme-button-hover-background-color;
}
@mixin button-hover-font-color($theme-button-hover-font-color) {
  color: $theme-button-hover-font-color;
}
@mixin epub-button-background-color($theme-epub-button-background-color,$theme-epub-button-hover-background-color,$theme-epub-button-font-color) {
  color: $theme-epub-button-font-color;
  background: $theme-epub-button-background-color;
  background-image: linear-gradient(to right, $theme-epub-button-hover-background-color 50%, $theme-epub-button-background-color 50%);
  background-position: -100%;
  background-size: 201%;
  background-repeat: no-repeat;
  &:hover, &:focus, &:active {
    color: $theme-epub-button-font-color;
    background-position: 0;
    transition: 0.2s ease-in;
  }
}
@mixin epub-prev-next-color($theme-epub-prev-next-color) {
  color: $theme-epub-prev-next-color;

}
@mixin epub-hover-prev-next-color($theme-epub-hover-prev-next-color) {
  color: $theme-epub-hover-prev-next-color
}
///////////////////////////////////////////////
//
// ACLS Humanities E-Book
//
///////////////////////////////////////////////
// colors
$heb-brand-color: #111;
$heb-accent-color: #d5d6d2;
$heb-link: red;
$heb-red: #cc0000;
$heb-accent-footer: #989c97;

$heb-accent-link: #989c97;

$heb-grey-1: #d5d6d2;
$heb-grey-2: #989c97;
$heb-grey-3: #655a52;
$heb-grey-4: #ccc;
$heb-white: #fff;
$heb-black-80: #342f2e;

// typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700');

@mixin open-sans {
  font-family: 'Open Sans', Arial, sans-serif;
}

.heb {

  // typography
  @include open-sans;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  // links
  a {
    color: $heb-link;
  }

  a:hover,
  a:active {
    color: $heb-accent-link;
  }

  // buttons

  .btn-default {
    @include button-background-color($heb-brand-color);
    @include button-font-color($heb-white);
  }

  .download {
    .btn-default {
      @include button-background-color($heb-grey-3);
    }
  }

  .btn-default:hover,
  .btn-default:active {
    @include button-hover-background-color($heb-grey-4);
    @include button-hover-font-color($heb-brand-color);
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $heb-grey-2;
  }

  #brand-bar {
    background-color: $heb-white;
    border-bottom: 10px solid $heb-red;

    .navbar-brand {
      color: $heb-red;
      font-weight: 800;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $heb-red;
      }

      .open > a,
      .open > a:focus,
      .open > a:hover {
        background-color: $heb-grey-4;
      }
    }

    button.search-submit {
      background-color: $heb-grey-4;
      border-color: $heb-grey-4;
      color: $heb-brand-color;
    }

  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $heb-grey-4;
    font-weight: 200;
    padding-top: 1.5em;
    padding-bottom: 1em;

    p {
      font-size: 16px;
      margin-bottom: 0;
    }

    .container {
      margin-top: 0;
    }

    .logo {

      img {
        width: 100px;
        margin-right: 3em;
      }

    }

  }

  .press {
    .results-container {

      .documentHeader {
        h3 {
          font-weight: 600;
        }
        a {
          color: #333;
        }
      }
    }
  }

  .monograph {
    .message {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 5000;
      background-color: #002C63;
      width: 100%;
      padding: 3em;
      color: #FFF;
      display: flex;
      display: -webkit-flex;
      transition-duration: 0.5s;

      .wrapper {
        width: 85%;
        margin: 0 auto;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
      }

      .text {
        width: 85%;
      }

      .dismiss {
        display: flex;
        display: -webkit-flex;
        width: 12%;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
      }

      a {
        color: #00AFEC;
        text-decoration: underline;
      }

      button.dismiss {
        text-decoration: none;
        color: #FFF;
        background: transparent;
        border: 0;
        font-size: 2em;
        padding: 0;
        width: 100%;
      }
    }
  }

  //filters on press and monograph pages
  .col-sm-3.facets-container,
  #facet-panel-collapse {
    padding-left: 0px;
  }

  .panel-group {
    padding-left: 0px;
  }

  .panel-group .panel {
    border-radius: 0px;
  }

  .panel-heading {
    padding-top: 15px;
  }

  .panel-group .panel + .panel {
    margin-top: 0px;
  }

  h3.panel-title a, a.more_facets_link {
    color: #333;
  }

  .panel-heading.collapse-toggle .panel-title::after {
    color: #333;
  }

  .panel-body {
    background-color: #fafafa;
  }

  // sorts on press and monograph pages
  #sort-dropdown .dropdown-toggle,
  #per_page-dropdown .dropdown-toggle {
    color: $heb-white;
  }

  #sort-dropdown .dropdown-toggle:hover,
  #per_page-dropdown .dropdown-toggle:hover,
  #sort-dropdown .dropdown-toggle:active,
  #per_page-dropdown .dropdown-toggle:active {
    color: $heb-brand-color;
  }

  .constraints-container {
    padding: 10px 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  // pagination

  .pagination {
     li a, li span {

       background-color: $heb-brand-color;
       border-color: $heb-brand-color;
       color: $heb-white;
     }

     li>a:hover,
     li>a:focus,
     li>span:hover,
     li>span:focus {
       background-color: $heb-grey-4;
       border-color: $heb-grey-4;
       color: $heb-brand-color;
     }


     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $heb-grey-4;
       border-color: $heb-grey-4;
       color: $heb-brand-color;
     }

     .disabled>span,
     .disabled>span:hover,
     .disabled>span:focus,
     .disabled>a,
     .disabled>a:hover,
     .disabled>a:focus {
       background-color: $heb-grey-4;
       border-color: $heb-grey-4;
       color: $heb-brand-color;
     }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $heb-grey-1;
    }
    .press-block-a,
    .press-block-b {
      background-color:  $heb-grey-4;
      font-weight: 600;

      a,
      a:hover,
      a:active {
        color: #333;
      }

      img {
        width: 75px;
      }

    }
    .press-block-c {
      background-color: $heb-brand-color;
    }
    .platform {
      background-color: $heb-black-80;
    }
  }

  // EPUB Reader
  #reader {

    .button {
      @include epub-button-background-color($heb-brand-color,$heb-grey-2,$heb-white);
    }

    .button--lg {
      @include epub-button-background-color($heb-brand-color,$heb-grey-2,$heb-white);
    }

    .button--sm {
      @include epub-button-background-color($heb-brand-color,$heb-grey-2,$heb-white);
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($heb-grey-2);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($heb-brand-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      height: 47px;

      img {
        height: 47px;
      }
    }
  }

}

@media(max-width: 768px) {
  .heb .monograph .message {
    padding: 1.5em;

    .wrapper {
      width: auto;
    }
    .text {
      width: 70%;
    }
    .dismiss {
      width: 20%;
      padding-left: 10%;
    }
  }
}
///////////////////////////////////////////////
//
// Indiana University Press
//
///////////////////////////////////////////////
// colors
$iu-brand-color: #990000;
$iu-accent-color: #eeedeb;

$iu-accent-footer: #615546;
$iu-accent-link: #990000;

$iu-white: #FFFFFF;
$iu-black: #191919;
$iu-mahogany: #4a3c31;
$iu-darklimestone: #83786f;
$iu-darkmidnight: #01426a;
$iu-midnight: #006298;

// font file import from IU
@import url('https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|GeorgiaPro:regular');

// typography
@mixin benton-regular {
  font-family: BentonSansRegular,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

@mixin benton-bold {
  font-family: BentonSansBold,Helvetica,Arial,sans-serif;
  font-weight: 400;
}

@mixin georgia-pro {
  font-family: GeorgiaProRegular,Georgia,serif;
}

.indiana {

  // typography
  @include benton-regular;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include benton-bold;
  }

  // links
  a {
    color: $iu-darkmidnight;
  }

  a:hover,
  a:active {
    color: $iu-midnight;
  }

  // buttons
  .btn {
    @include benton-regular;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $iu-accent-color;
  }

  #brand-bar {
    background-color: $iu-brand-color;
    border-color: $iu-brand-color;

    .navbar-brand {
      color: $iu-accent-color;
      @include benton-bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $iu-accent-color;
      }

      .open > a,
      .open > a:focus,
      .open > a:hover {
        background-color: $iu-brand-color;
      }
    }

    button.search-submit {
      background-color: $iu-accent-color;
      border-color: $iu-accent-color;
      color: $iu-brand-color;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include benton-bold;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $iu-accent-color;
    @include georgia-pro;

    .logo.pull-left {

        float: none !important;
        margin-bottom: 2.5em;

      img {
        width: 75%;
        margin: 0 auto;
        display: block;
      }

    }

    .lead {
      text-align: center;
    }

  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $iu-darkmidnight;
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include georgia-pro;
      }
    }

    .authors, .copyright {
      @include benton-bold;
    }
  }

  // pagination
  .pagination {
    @include benton-bold;
     li a, li span {
       color: $iu-brand-color;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $iu-brand-color;
       border-color: $iu-brand-color;
       color: $iu-accent-color;
     }
  }

  // assets

  #transcript {
    .able-transcript-area {
      .able-window-toolbar {
        label {
          @include georgia-pro;
        }
      }
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $iu-white;
    }
    .press-block-a,
    .press-block-b {
      background-color:  $iu-accent-footer;

      img {
        height: auto;
        width: auto;
      }

      a,
      a:hover,
      a:active {
        color: $iu-white;
      }

    }
    .press-block-c {
      background-color: $iu-brand-color;
    }
    .platform {
      background-color: $iu-mahogany;
    }
  }

}

///////////////////////////////////////////////
//
// Lever Press
//
///////////////////////////////////////////////
// colors
$lever-brand-color: #003352;
$lever-accent-color: #78B3E0;

$lever-link: #40658f;
$lever-link-hover: #587abc;
$lever-link-hover-2: #FC7753;

$lever-grey-1: #EAEAEA;

$lever-grey-2: #989C97;
$lever-white: #FFF;
$lever-black-80: #342f2e;


// typography

@mixin meta-serif {
  font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
}

@mixin scala-sans {
  font-family: "ff-scala-sans-pro", Helvetica, Arial, sans-serif;
}

.leverpress {

  // typography
  @include meta-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include scala-sans;
    font-weight: 700;
  }

  // links
  a {
    color: $lever-link;
  }

  a:hover,
  a:active {
    color: $lever-link-hover;
  }

  // buttons

  .btn-default {
    @include button-background-color($lever-brand-color);
    @include button-font-color($lever-accent-color);
    @include scala-sans;
  }

  .btn-default:hover,
  .btn-default:active {
    @include button-hover-background-color($lever-accent-color);
    @include button-hover-font-color($lever-brand-color);
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $lever-accent-color;
  }

  #brand-bar {
    background-color: $lever-brand-color;

    .navbar-brand {
      color: $lever-white;
      @include scala-sans;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          @include scala-sans;
          color: $lever-white;
      }

      .open > a,
      .open > a:focus,
      .open > a:hover {
        @include scala-sans;
        background-color: $lever-accent-color;
      }
    }

    button.search-submit {
      background-color: $lever-accent-color;
      border-color: $lever-accent-color;
      color: $lever-brand-color;
    }

  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $lever-grey-1;
    font-weight: 200;
    padding-top: 1.5em;
    padding-bottom: 1em;
    @include scala-sans;

    p {
      font-size: 20px;
      margin-bottom: 1em;
    }

    ul {
      padding-left: 10em;
      font-size: 18px;
    }

    .container {
      margin-top: 0;
    }

    .logo {

      img {
        width: 100px;
        margin-right: 3em;
      }

    }

  }

  .press {
    .results-container {

      .documentHeader {
        h3 {
          font-weight: 600;
        }
        a {
          color: #333;
        }
      }
    }
  }

  //filters on press and monograph pages
  .col-sm-3.facets-container,
  #facet-panel-collapse {
    padding-left: 0px;
  }

  .panel-group {
    padding-left: 0px;
  }

  .panel-group .panel {
    border-radius: 0px;
  }

  .panel-heading {
    padding-top: 15px;
  }

  .panel-group .panel + .panel {
    margin-top: 0px;
  }

  h3.panel-title a, a.more_facets_link {
    color: $lever-brand-color;
  }

  .panel-heading.collapse-toggle .panel-title::after {
    color: $lever-brand-color;
  }

  .panel-body {
    background-color: #fafafa;
  }

  // sorts on press and monograph pages
  #sort-dropdown .dropdown-toggle,
  #per_page-dropdown .dropdown-toggle {
    color: $lever-accent-color;
    @include scala-sans;
  }

  #sort-dropdown .dropdown-toggle:hover,
  #per_page-dropdown .dropdown-toggle:hover,
  #sort-dropdown .dropdown-toggle:active,
  #per_page-dropdown .dropdown-toggle:active {
    color: $lever-brand-color;
  }

  #sort-dropdown .dropdown-toggle .caret,
  #per_page-dropdown .dropdown-toggle .caret {
    color: $lever-accent-color;
  }

  #sort-dropdown .dropdown-toggle:hover .caret,
  #per_page-dropdown .dropdown-toggle:hover .caret,
  #sort-dropdown .dropdown-toggle:active .caret,
  #per_page-dropdown .dropdown-toggle:active .caret {
    color: $lever-brand-color;
  }

  .open > .dropdown-menu {
    @include scala-sans;
  }

  .constraints-container {
    padding: 10px 20px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  // pagination

  .pagination {
     li a, li span {

       background-color: $lever-brand-color;
       border-color: $lever-brand-color;
       color: $lever-accent-color;
       @include scala-sans;
     }

     li>a:hover,
     li>a:focus,
     li>span:hover,
     li>span:focus {
       background-color: $lever-accent-color;
       border-color: $lever-accent-color;
       color: $lever-brand-color;
       @include scala-sans;
     }


     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $lever-accent-color;
       border-color: $lever-accent-color;
       color: $lever-brand-color;
       @include scala-sans;
     }

     .disabled>span,
     .disabled>span:hover,
     .disabled>span:focus,
     .disabled>a,
     .disabled>a:hover,
     .disabled>a:focus {
       background-color: $lever-accent-color;
       border-color: $lever-accent-color;
       color: $lever-brand-color;
       @include scala-sans;
     }
  }

  //footer
  footer {
    @include scala-sans;

    a,
    a:hover,
    a:active {
      color: $lever-white;
    }

    .press-block-a a {
      display: none;
    }

    .press-block-a,
    .press-block-b {
      background-color:  $lever-accent-color;
      font-weight: 600;

      a,
      a:hover,
      a:active {
        color: $lever-brand-color;
      }

      img {
        width: 75px;
      }

    }
    .press-block-c {
      background-color: $lever-brand-color;
    }
    .platform {
      background-color: $lever-black-80;
    }
  }

  // EPUB Reader
  #reader {

    .button {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    .button--lg {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    .button--sm {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($lever-brand-color);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($lever-accent-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      height: 47px;

      img {
        height: 47px;
      }
    }
  }

  // EPUB Reader
  #reader {

    .cozy-control .cozy-h1 {
      font-size: 1.5em;
    }

    .button {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    .button--lg {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    .button--sm {
      @include epub-button-background-color($lever-brand-color,$lever-accent-color,$lever-white);
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($lever-brand-color);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($lever-brand-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      height: 46.6px;
      width: 36px;
      overflow: hidden;

      img {
        height: 36px;
        margin-top: 6px;
        margin-left: 11px;
      }
    }

  }

}
///////////////////////////////////////////////
//
// University of Michigan Press
//
///////////////////////////////////////////////
// colors
$um-brand-color: #00274c;
$um-accent-color: #e4e1df;

$um-accent-footer: #989c97;

$um-accent-link: #587abc;

$um-grey-1: #d5d6d2;
$um-grey-2: #989c97;
$um-grey-3: #655a52;
$um-blue: #40658f;
$um-white: #fff;
$um-black-80: #342f2e;

// typography
@mixin meta {
  font-family: "ff-meta-web-pro", sans-serif;
}

@mixin meta-serif {
  font-family: "ff-meta-serif-web-pro", serif;
}

@mixin minion {
  font-family: "minion-pro", serif;
}

.michigan {

  // typography
  @include minion;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include meta;
    font-weight: 700;
  }

  // links
  a,
  button {
    color: $um-blue;
  }

  a:hover,
  a:active,
  a:focus,
  button:hover,
  button:active,
  button:focus {
    color: $um-accent-link;
  }

  // buttons
  .btn, .btn-group {
    @include meta;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $um-accent-color;
  }

  #brand-bar {
    background-color: $um-brand-color;
    border-color: $um-brand-color;

    .navbar-brand {
      color: $um-white;
      @include meta;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $um-accent-color;
      }

      .open > a,
      .open > a:focus,
      .open > a:hover {
        background-color: $um-blue;
      }
    }

    button.search-submit {
      background-color: $um-accent-color;
      border-color: $um-accent-color;
      color: $um-brand-color;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include meta;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $um-grey-1;
    @include meta-serif;

    padding-top: 20px;
    padding-bottom: 20px;

    .container {
      margin-top: 1em;
    }

    p.lead {
      font-size: 16px;
    }

    .logo {

      img {
        width: 73px;
        margin-right: 3em;
      }

    }

  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $um-blue;
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include meta;
      }
    }

    .authors, .copyright {
      @include meta;
    }
  }

  // pagination
  .page_links {
    @include meta;
  }

  .pagination {
    @include meta;
     li a, li span {
       color: $um-brand-color;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $um-brand-color;
       border-color: $um-brand-color;
       color: $um-accent-color;
     }
  }

  // assets
  .asset-navigation {
    @include meta;
  }

  .asset {
    ul.nav-tabs li {
      @include meta;
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $um-accent-color;
    }
    .press-block-a,
    .press-block-b {
      background-color:  $um-blue;

      .crop {
        height: 126px;
        width: auto;
      }

      a,
      a:hover,
      a:active {
        color: $um-accent-color;
      }

      img {
        width: 50px;
      }

      p {
        @include meta;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

    }
    .press-block-c {
      background-color: $um-brand-color;
      @include meta-serif;
    }
    .platform {
      background-color: $um-black-80;
    }
  }

  // EPUB Reader
  #reader {

    .cozy-control .cozy-h1 {
      font-size: 1.5em;
    }

    .button {
      @include epub-button-background-color($um-brand-color,$um-blue,$um-white);
    }

    .button--lg {
      @include epub-button-background-color($um-brand-color,$um-blue,$um-white);
    }

    .button--sm {
      @include epub-button-background-color($um-brand-color,$um-blue,$um-white);
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($um-brand-color);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($um-brand-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      background: $um-grey-1;
      height: 46.6px;
      width: 36px;
      overflow: hidden;

      img {
        height: 36px;
        margin-top: 6px;
        margin-left: 11px;
      }
    }

  }

}
///////////////////////////////////////////////
// University of Michigan Press -
// Gabii Project Reports
///////////////////////////////////////////////
// colors
$gabii-brand-color:   #1b2f43;
$gabii-accent-color:  #b7c7d9;

$gabii-white:         #f0f4f5;
$gabii-light-1:       #45586e;
$gabii-light-2:       #e9faff;
$gabii-gray:          #acb0b4;
$gabii-dark-gray:     #9d9d9d;
$gabii-dark-1:        #00051c;
$gabii-dark-2:        #8796a8;
$gabii-black:         #111417;

$gabii-jumbo:         #eeeeee;
$gabii-link:          #39688f;
$gabii-link-hover:    #1e5667;

// typography
@mixin garamond {
  font-family: "adobe-garamond-pro", Georgia, serif;
}

@mixin lato {
  font-family: 'Lato', Helvetica, sans-serif;
}

.gabii {

  @include garamond;
  color: #00051c;

  h1,
  h2,
  h3,
  h4,
  h5,
  .alert {
    @include lato;
  }

  // links
  a {
    color: $gabii-link;
  }

  a:hover,
  a:active {
    color: $gabii-link-hover;
  }

  // buttons and alerts
  .btn {
    @include lato;
    color: $gabii-white;
    background-color: $gabii-brand-color;

    &:hover, &:focus, &:active {
      color: $gabii-brand-color;
      background-color: $gabii-accent-color;
    }
  }

  .btn-default,
  .btn

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $gabii-brand-color;
  }

  #brand-bar {
    background-color: $gabii-brand-color;
    border-color: $gabii-brand-color;

    .navbar-header {
      background-image: url("/upload/press/logo_path/gabii/gabii.png");
      background-repeat: no-repeat;
      background-size: 45px;
      background-position-y: 6px;
    }

    .navbar-brand {
      color: $gabii-white;
      @include lato;
      text-transform: initial;
      letter-spacing: initial;
      font-size: 1.65em;
      padding-left: 3em;
    }

    .navbar-brand:hover {
      color: $gabii-accent-color;
    }

    .navbar-nav {

      @include lato;

      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $gabii-white;
      }

      .open > a,
      .open > a:focus,
      .open > a:hover {
        background-color: $gabii-accent-color;
        color: $gabii-brand-color;
      }
    }

    button.search-submit {
      background-color: $gabii-accent-color;
      border-color: $gabii-accent-color;
      color: $gabii-brand-color;
    }

    .search-query {
      @include lato;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include lato;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $gabii-jumbo;
    @include lato;
    font-weight: 200;

    .logo {

      img {
        display: none;
      }

    }

  }

  #maincontent {
    font-size: 18px;
  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $gabii-white;

    &:hover {
      color: $gabii-brand-color;
    }
  }

  .dropdown-menu {
    @include lato;
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include garamond;
      }
    }

    .authors, .copyright {
      @include lato;
    }

    .message {
      @include lato;
      font-size: .8em;
      padding-left: 1em;
    }

    .nav-tabs {
      @include lato;
    }

    .monograph-assets-toc-epub {
      .monograph-assets-toc-epub-content {
        font-size: 18px;
      }
    }
  }

  // pagination
  .page_links {
    @include lato;
  }

  .pagination {
    @include lato;
     li a, li span {
       color: $gabii-brand-color;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $gabii-brand-color;
       border-color: $gabii-brand-color;
       color: $gabii-accent-color;
     }
  }

  // assets
  .asset-navigation {
    @include lato;
  }

  .asset {
    ul.nav-tabs li {
      @include lato;
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $gabii-white;
    }
    .press-block-a,
    .press-block-b {
      background-color:  $gabii-light-1;


      a,
      a:hover,
      a:active {
        color: $gabii-accent-color;
      }

      img {
        width: initial;
      }

      p {
        @include lato;
        text-transform: initial;
        letter-spacing: initial;
        font-size: 1.5em;
      }

    }
    .press-block-c {
      background-color: $gabii-brand-color;
      @include lato;
    }
    .platform {
      background-color: $gabii-black;
    }
  }

  // EPUB Reader
  #reader {

    .hint {
      padding: 1em 2em;
    }

    .cozy-panel-header > .cozy-panel-right {

      justify-content: flex-end;

      .alert {
        padding: 12.5px;
        margin: 0;
        font-size: .9em;

        a {
          text-decoration: underline;
        }
      }

      .alert-dismissable .close {
        top: -10px;
        right: -5px;
      }

    }



    .cozy-control .cozy-h1 {
      font-size: 1.5em;
    }

    .button {
      @include epub-button-background-color($gabii-brand-color,$gabii-accent-color,$gabii-white);
    }

    .button--lg {
      @include epub-button-background-color($gabii-brand-color,$gabii-accent-color,$gabii-white);
    }

    .button--sm {
      @include epub-button-background-color($gabii-brand-color,$gabii-accent-color,$gabii-white);
    }

    .button:hover,
    .button--lg:hover,
    .button--sm:hover {
      color: $gabii-brand-color;
    }

    .button--sm[disabled] {
      background: #e8e8e8;
      cursor: none;
      color: $gabii-white;

      &:hover {
        color: $gabii-white;
      }
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($gabii-accent-color);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($gabii-brand-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      background: $gabii-brand-color;
      height: 46.6px;
      width: 46px;
      overflow: hidden;

      img {
        height: 31px;
        margin-top: .5em;
        margin-left: .2em;
      }
    }

    .cozy-navigator-range__background {
          background-image: linear-gradient(90deg, #FFFFFF, #FFFFFF 50%, transparent 50%), linear-gradient(90deg, $gabii-brand-color, $gabii-accent-color) !important;
    }

    .special-panel {

      .panel-control button.button--sm.webgl-close {
      background: transparent;
      color: #333;
      padding: 2em;

        &:hover,
        &:active,
        &:focus {
          transition: unset;
          box-shadow: unset;
        }

      }

      .panel-info {
        padding: 0 1em;

        p {
          font-size: .75em;
        }

      }
    }

  }

}
///////////////////////////////////////////////
//
// University of Minnesota Press
//
///////////////////////////////////////////////
// colors
$umn-brand-color: #7b2e00;
$umn-accent-color: #ffde7a;

$umn-accent-footer-aqua: #0b788a;
$umn-accent-footer-rust: #bd6423;

$umn-accent-link: #a43727;
$umn-accent-link2: #ef4b4b;

$umn-grey: #d5d6d2;
$umn-black: #0b3d4c;
$umn-black-80: #342f2e;
$umn-blue: #16bbe6;
$umn-white: #fff;

// typography
@mixin brandon {
  font-family: "brandon-grotesque", sans-serif;
}

@mixin ff-meta-serif {
  font-family: "ff-meta-serif-web-pro", serif;
}

.minnesota {

  // typography
  @include ff-meta-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include brandon;
  }

  // links
  a {
    color: $umn-accent-link;
  }

  a:hover,
  a:active {
    color: $umn-accent-link2;
  }

  // buttons
  .btn {
    @include brandon;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $umn-accent-footer-aqua;
  }

  #brand-bar {
    background-color: $umn-brand-color;

    .navbar-brand {
      color: $umn-white;
      @include brandon;
      text-transform: uppercase;
      font-weight: 500;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $umn-white;
      }
    }

    button.search-submit {
      background-color: $umn-accent-footer-aqua;
      border-color: $umn-accent-footer-aqua;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include brandon;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $umn-grey;
    @include brandon;

    .logo {

      img {
        margin-right: 3em;
        width: auto;
        height: 150px;
      }

    }

  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $umn-accent-link;
  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include brandon;
      }
    }

    .authors, .copyright {
      @include brandon;
    }
  }

  // pagination
  .page_links {
    @include brandon;
  }

  .pagination {
    @include brandon;
     li a, li span {
       color: $umn-accent-footer-aqua;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $umn-accent-footer-aqua;
       border-color: $umn-accent-footer-aqua;
       color: $umn-white;
     }
  }

  // assets
  .asset-navigation {
    @include brandon;
  }

  .asset {
    ul.nav-tabs li {
      @include brandon;
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $umn-white;
    }
    .press-block-a,
    .press-block-b {
      background-color:  $umn-grey;

      .crop {
        height: 126px;
        width: auto;
      }

      a,
      a:hover,
      a:active {
        color: $umn-black-80;
      }

      img {
        width: 45px;
        filter: grayscale(100%) contrast(125%);
      }

      p {
        @include brandon;
        text-transform: uppercase;
        font-weight: 500;
      }

    }
    .press-block-c {
      background-color: $umn-brand-color;
    }
    .platform {
      background-color: $umn-black-80;
    }
  }

}

///////////////////////////////////////////////
//
// Northwestern University Press
//
///////////////////////////////////////////////
// colors
$nw-brand-color: #4e2a84;
$nw-accent-color: #d8d6d6;

$nw-purple-60: #735c9d;
$nw-purple-30: #b6acd1;
$nw-purple-10: #e4e0ee;
$nw-black-80: #342f2e;
$nw-black-20: #bbb8b8;
$nw-white: #fff;

$fulcrum-light-2: #bec4cc;

// typography
@mixin droid-serif {
  font-family: "droid-serif", Georgia, serif;
}

@mixin freight-sans-semi-bold {
  font-family: "freight-sans-pro", sans-serif;
  font-weight:600;
}

@mixin freight-sans-book {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
}

@mixin freight-sans-light {
  font-family: "freight-sans-pro", sans-serif;
  font-weight:300;
}

.northwestern {

  //typography
  @include droid-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include freight-sans-semi-bold;
  }

  // links
  a {
    color: $nw-brand-color;
  }

  a:hover,
  a:active {
    color: $nw-purple-60;
  }

  // buttons
  .btn {
    @include freight-sans-book;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $nw-purple-60;
  }

  #brand-bar {
    background-color: $nw-brand-color;

    .navbar-brand {
      color: $nw-white;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $nw-white;
      }
    }


    button.search-submit {
      background-color: $nw-purple-60;
      border-color: $nw-purple-60;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include freight-sans-book;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $nw-purple-10;
    @include freight-sans-light;

    .logo {

      img {
        margin-right: 3em;
        width: 150px;
      }

    }

  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $nw-purple-60;
  }


  // monograph
  .monograph {
    .documentHeader {
      p {
        @include freight-sans-book;
      }
    }

    .authors, .copyright {
      @include freight-sans-semi-bold;
    }

    // pagination
    .page_links {
      @include freight-sans-book;
    }

    .pagination {
      @include freight-sans-book;
       li a, li span {
         color: $nw-brand-color;
       }

       .active>a,
       .active>a:hover,
       .active>a:focus,
       .active>span,
       .active>span:hover,
       .active>span:focus {
         background-color: $nw-brand-color;
         border-color: $nw-brand-color;
         color: $nw-white;
       }
    }

  }

  // assets
  .asset-navigation {
    @include freight-sans-book;
  }

  .asset {
    ul.nav-tabs li {
      @include freight-sans-book;
    }

    #permissions {

      table tbody tr:last-of-type {
          th {
            display: table-column;
          }

          li.holding_contact {
            margin-left: -6em;
          }
      }

      table tbody tr:only-of-type li.holding_contact {
          margin-left: 0;
      }

    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $nw-white;
    }
    .press-block-a,
    .press-block-b {
      background-color: $nw-purple-60;
      img {
        width: 50px;
      }

    }
    .press-block-c {
      background-color: $nw-brand-color;
    }
    .platform {
      background-color: $nw-black-80;
    }
  }


}

///////////////////////////////////////////////
//
// NYU Press
//
///////////////////////////////////////////////
// colors
$nyu-brand-color: #57068c;
$nyu-brand-accent: #fff;
$nyu-brand-color-2: #d7d0db;
$nyu-link: #57068c;
$nyu-white: #fff;
$nyu-jumbotron: #f5f5f5;
$nyu-gray-1: #3f4550;
$nyu-gray-2: #342f2e;


// typography
@mixin adelle-sans {
  font-family: "adelle-sans", Helvetica, sans-serif;
}

.nyupress {

  // typography
  @include adelle-sans;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  // links
  a {
    color: $nyu-link;
  }

  a:hover,
  a:active {
  }

  // buttons
  .btn {
    @include adelle-sans;
  }

  .btn-default {
    background-color: $nyu-brand-color;
    border-color: $nyu-brand-color;
    color: $nyu-brand-accent;
  }

  .btn-default:hover,
  .btn-default:active {
    background-color: $nyu-brand-color-2;
    border-color: $nyu-brand-color-2;
    color: $nyu-brand-color;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $nyu-brand-accent;
  }

  #brand-bar {
    background-color: $nyu-brand-color;
    height: 65px;

    .container {
      height: 100%;
    }

    form.navbar-form {
      margin-top: 16px;
    }

    .navbar-brand {
      color: transparent;
      width: 350px;
      margin-top: 11px;
      background-image: url("/upload/press/logo_path/nyupress/nyupress.png");
      background-repeat: no-repeat;
      display: block;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $nyu-brand-accent;
      }

      a#add-content:active,
      a#add-content:focus,
      a.login:active,
      a.login:focus,
      a.user-display-name:active,
      a.user-display-name:focus,
      a.language-dropdown:active,
      a.language-dropdown:focus {
          color: $nyu-gray-2;
      }
    }

    .navbar-right {
      padding-top: 9px;
    }

    button.search-submit {
      background-color: $nyu-jumbotron;
      border-color: $nyu-jumbotron;
      color: $nyu-brand-color;
    }

  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $nyu-jumbotron;
    padding-top: 20px;
    padding-bottom: 28px;

    .logo {

      img {
        display: none;
      }

    }

  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
      color: $nyu-brand-accent;
  }

  // pagination

  .pagination {
     li a, li span {
       color: $nyu-brand-color;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $nyu-brand-color;
       border-color: $nyu-brand-color;
       color: $nyu-brand-accent;
     }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: transparent;
    }

    .press-block-a,
    .press-block-b {
      background-color: $nyu-brand-color-2;

      .crop {
        width: 40px;
        height: 40px;
        overflow: hidden;

        img {
            width: 296px;
            height: 40px;
            max-width: initial;
        }
      }
    }

    .press-block-c {
      background-color: $nyu-brand-color;
      color: $nyu-brand-accent;
    }

    .platform {
      background-color: $nyu-gray-2;
      a,
      a:hover,
      a:active {
        color: $nyu-brand-accent;
      }
    }
  }

  // EPUB Reader
  #reader {

    .cozy-control .cozy-h1 {
      font-size: 1.5em;
    }

    .button {
      @include epub-button-background-color($nyu-brand-color,$nyu-brand-color-2,$nyu-brand-accent);
    }

    .button--lg {
      @include epub-button-background-color($nyu-brand-color,$nyu-brand-color-2,$nyu-brand-accent);
    }

    .button--sm {
      @include epub-button-background-color($nyu-brand-color,$nyu-brand-color-2,$nyu-brand-accent);
    }

    i[class^='icon-chevron-'] {
      @include epub-prev-next-color($nyu-brand-color-2);
      transition: 0.2s ease-in;
    }

    i[class^='icon-chevron-']:hover {
      @include epub-hover-prev-next-color($nyu-brand-color);
      transition: 0.2s ease-in;
    }

    .cozy-control .logo {
      background: $nyu-brand-color-2;
      height: 46.6px;
      width: 43px;
      overflow: hidden;

      img {
        height: 33px;
        margin-top: .5em;
        margin-left: .55em;
      }
    }

  }


}
///////////////////////////////////////////////
//
// Penn State University Press
//
///////////////////////////////////////////////
// colors
$psu-brand-color: #036;
$psu-brand-color-alt: #ccc;
$psu-brand-accent: #6cc;
$psu-button-foreground: #4a4a4a;
$psu-link: #00527b;
$psu-white: #fff;
$psu-jumbotron: #efefef;
$psu-gray-2: #302f32;
$psu-gray-1: #3F4550;


// typography
@mixin jenson-display {
  font-family: "adobe-jenson-pro-display", Georgia, serif;
  text-transform: uppercase;
  letter-spacing: 4.3px;
  word-spacing: 1px;
}

@mixin droid-serif {
  font-family: "droid-serif", Georgia, serif;
}

@mixin proxima-nova {
  font-family: "proxima-nova", Helvetica, sans-serif;
}

.pennstate {

  // typography
  @include droid-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    @include proxima-nova;
    font-weight: 600;
  }

  // links
  a {
    color: $psu-link;
  }

  a:hover,
  a:active {
    color: $psu-brand-accent;
  }

  // buttons
  .btn {
    @include proxima-nova;
  }

  .btn-default {
    background-color: $psu-brand-accent;
    border-color: $psu-brand-accent;
    color: $psu-button-foreground;
  }

  .btn-default:hover,
  .btn-default:active {
    background-color: $psu-brand-color;
    border-color: $psu-brand-color;
    color: $psu-white;
  }

  // navigation menu
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background-color: $psu-brand-accent;
  }

  #brand-bar {
    background-color: $psu-brand-color;
    height: 8.5em;

    .container {
      height: 100%;
    }

    .navbar-header {
      background-image: url("/upload/press/logo_path/pennstate/pennstate.png");
      background-position: 0px 11px;
      background-repeat: no-repeat;
      height: 6em;
      display: block;
      width: 100%;
      margin-top: 1em;
    }

    .navbar-brand {
      color: $psu-brand-color-alt;
      @include jenson-display;
      width: inherit;
      text-align: right;
        font-size: 1.5em;

    }

    form.navbar-form {
      position: relative;
      top: -3em;
      padding-right: 2.5em;
      float: right !important;
    }

    .navbar-nav {
      a#add-content,
      a.login,
      a.user-display-name,
      a.language-dropdown {
          color: $psu-white;
      }
    }

    button.search-submit {
      background-color: $psu-brand-accent;
      border-color: $psu-brand-accent;
      color: $psu-button-foreground;
    }

    .navbar-right {
      margin-top: -1.8em;
      margin-right: 1em;
    }

    .logo {
      margin-top: -.5em !important;
    }

  }

  // breadcrumbs
  .breadcrumbs {
    @include proxima-nova;
  }

  // press catalog

  // jumbotron
  .jumbotron {
    background-color: $psu-jumbotron;
    padding-top: 20px;
    padding-bottom: 28px;
    @include proxima-nova;

    .logo {

      img {
        display: none;
      }

    }

  }

  // monograph
  .monograph {
    .documentHeader {
      p {
        @include proxima-nova;
      }
    }

    .authors, .copyright {
      @include proxima-nova;
    }
  }

  // monograph catalog
  #sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
    color: $psu-button-foreground;
  }

  // pagination
  .page_links {
    @include proxima-nova;
  }

  .pagination {
    @include proxima-nova;
     li a, li span {
       color: $psu-button-foreground;
     }

     .active>a,
     .active>a:hover,
     .active>a:focus,
     .active>span,
     .active>span:hover,
     .active>span:focus {
       background-color: $psu-brand-accent;
       border-color: $psu-brand-accent;
       color: $psu-button-foreground;
     }
  }

  // assets
  .asset-navigation {
    @include proxima-nova;
  }

  .asset {
    ul.nav-tabs li {
      @include proxima-nova;
    }
  }

  //footer
  footer {
    a,
    a:hover,
    a:active {
      color: $psu-white;
    }

    .press-block-a,
    .press-block-b {
      background-color: $psu-brand-color-alt;

      .crop {
        img {
          display: none;
        }
      }

      a,
      a:hover,
      a:active {
        color: $psu-brand-color;
      }

      p {
        padding-top: 8em;
        color: $psu-gray-2;
        @include proxima-nova;
      }

    }

    .press-block-c {
      background-color: $psu-gray-2;
    }
    // .platform {
    //  background-color: $umn-black-80;
    // }
  }

  // collapse navbar at 1015px
  @media (max-width: 1015px) {

    .navbar-toggle {
      margin-top: 25px;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .jumbotron {
      padding-top: 48px;
    }

    #brand-bar {

      .navbar-brand {
        margin-top: -2em;
        margin-bottom: 2em;
        text-align: center;
      }


      form.navbar-form {
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      margin-top: 8px;
      margin-bottom: 8px;
      position: inherit;


        .input-group {
          position: relative;
          display: table;
          border-collapse: separate;
          width: 100%;
        }

        .input-group .form-control {
          position: relative;
          z-index: 2;
          float: left;
          width: 100%;
          margin-bottom: 0;
        }

        .input-group-btn {
          position: relative;
          font-size: 0;
          white-space: nowrap;
          width: 1%;
        }

      }
    }
  }
}
