<!DOCTYPE html>
<head>
  <!-- CSS -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Javascript -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      padding: 0;
      margin: 0;
    }
    html, body, figure {
      height: 100%;
      width: 100%;
    }

    #image {
      height: 95% ;
      width: 100%;
    }

    #embed-caption {
      height: auto;
      width: 100%;
    }

    figcaption {
      font-style: italic;
      margin-top: 1em;
      em {
        font-style: normal;
      }
    }
  </style>

</head>
  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
