<!DOCTYPE html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : yield %></title>
    <!-- Ensure all links open outside the iframe, in a new tab -->
    <base target="_blank">
    <!-- CSS -->
    <%= stylesheet_link_tag 'embed' %>
    <!-- Javascript -->
    <%= javascript_include_tag 'embed' %>
  </head>
  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
