<!DOCTYPE html>
  <head>
    <!-- CSS -->
    <%= stylesheet_link_tag 'embed' %>
    <!-- Javascript -->
    <%= javascript_include_tag 'embed' %>
  </head>
  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
