<form action=<%= counter_report_path(id: report_id) %> method="show">
  <div class="form-group row">
    <label for="institution" class="col-sm-2 col-form-label">Institution</label>
    <div class="col-sm-2">
      <%= select_tag(:institution, options_for_select(@institutions.map { |i| [i.name, i.identifier] }), class: 'form-control') %>
    </div>
  </div>
  <div class="form-group row">
    <label for="start_date" class="col-sm-1 col-form-label">Start Date</label>
    <div class="col-sm-1">
      <input type="text" name="start_date" aria-label="Start date in yyyy-mm-dd format" class="counter-start-date form-control" />
    </div>
    <label for="end_date" class="col-sm-1 col-form-label">End Date</label>
    <div class="col-sm-1">
      <input type="text" name="end_date" aria-label="End date in yyyy-mm-dd format" class="counter-end-date form-control" />
    </div>
  </div>
  <div class="form-group row">
    <label for="metric_type" class="col-sm-2 col-form-label">Metric Types</label>
    <div class="col-sm-2">
      <select name="metric_type" aria-label="Metric Type" class="form-control">
        <option value="Total_Item_Investigations">Total Item Investigations</option>
        <option value="Unique_Item_Investigations">Unique Item Investiations</option>
        <option value="Unique_Title_Investigations">Unique Title Investigations</option>
        <option value="Total_Item_Requests">Total Item Requests</option>
        <% unless report_id == 'ir' %>
        <option value="Unique_Item_Requests">Unique Item Requests</option>
        <option value="Unique_Title_Requests">Unique Title Requests</option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="data_type" class="col-sm-2 col-form-label">Data Types</label>
    <div class="col-sm-2">
      <select name="data_type" aria-label="Date Type" class="form-control">
        <option value="Book">Book</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="access_type" class="col-sm-2 col-form-label">Access Types</label>
    <div class="col-sm-2">
      <select name="access_type" aria-label="Access Type" class="form-control">
        <option value="Controlled">Controlled</option>
        <option value="OA_Gold">OA_Gold</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="access_method" class="col-sm-2 col-form-label">Access Method</label>
    <div class="col-sm-2">
      <select name="access_method" aria-label="Access Method" class="form-control">
        <option value="Regular">Regular</option>
      </select>
    </div>
  </div>
  <% unless report_id == 'pr' %>
  <div class="form-group row">
    <label for="yop" class="col-sm-2 col-form-label">YOP</label>
    <div class="col-sm-2">
      <input type="text" name="yop" aria-label="Year of Publication" class="form-control" />
    </div>
  </div>
  <% end %>
  <% if @presses.present? %>
  <div class="form-group row">
    <label for="press" class="col-sm-2 col-form-label">Publisher</label>
    <div class="col-sm-2">
      <%= select_tag(:press, options_for_select(@presses.map { |p| [p.subdomain, p.id] }), class: 'form-control') %>
    </div>
  </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">View</button>
      <button type="submit" class="btn btn-primary" name="csv">CSV</button>
    </div>
  </div>
</form>
