<div id="maincontent">
  <h1>Editing Policy</h1>
  <div class="col-md-12">
    <%= render 'form', policy: @policy %>
  </div>
  <div class="col-md-12"><br/></div>
  <div class="col-md-12">
    <%= link_to 'Show', @policy %>
    <span> | </span>
    <%= link_to 'Back', policies_path %>
  </div>
  <div class="col-md-12"><br/></div>
</div>
