<p id="notice"><%= notice %></p>
<div id="maincontent">
  <h1>Policies</h1>
  <div class="col-md-12">
    <%= render partial: 'policies', locals: { policies: @policies } %>
  </div>
  <div class="col-md-12">&nbsp<%= paginate @policies %></div>
</div>
