<div id="maincontent">
  <div class="row">
    <div class="col-md-12"><h1>New Policy</h1></div>
    <div class="col-md-12">
      <%= render 'form', policy: @policy %>
    </div>
    <div class="col-md-12"><br/></div>
    <div class="col-md-12"><%= link_to 'Back', policies_path %></div>
    <div class="col-md-12"><br/></div>
  </div>
</div>
